<a href="https://colab.research.google.com/github/MarinaWolters/Coding-Tracker/blob/master/W1_Data_Acquisition_Wrangling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Overview of Part I

As we start our journey into Big Data Analytics, the first thing we need to do is **get the data** in the form we need for analysis!  We'll start with an overview of how to acquire and *wrangle* data.

This notebook gives us a series of examples for:

* Acquiring data from files and remote sources
* Information extraction over HTML content
* A basic "vocabulary" of operators over tables (the relational algebra)

* "Data wrangling" or integration:
  * Cleaning and filtering data, using rules and based operations
  * Linking data across dataframes or relations
  * The need for approximate match and record linking

## The Motivating Question
To illustrate the principles, we focus on the question of how old company CEOs and founders are.  The question was in part motivated by the following New York Times article:

* Founders of Successful Tech Companies Are Mostly Middle-Aged: https://www.nytimes.com/2019/08/29/business/tech-start-up-founders-nest.html?searchResultPosition=2

So let's test this hypothesis!

In [1]:
# Let's install some libraries useful for processing web data
# For string similarity
!pip3 install py_stringsimjoin

# # lxml to parse xml tree
!pip3 install lxml

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: py_stringsimjoin in /usr/local/lib/python3.8/dist-packages (0.3.2)
Requirement already satisfied: py-stringmatching>=0.2.1 in /usr/local/lib/python3.8/dist-packages (from py_stringsimjoin) (0.4.2)
Requirement already satisfied: PyPrind>=2.9.3 in /usr/local/lib/python3.8/dist-packages (from py_stringsimjoin) (2.11.3)
Requirement already satisfied: joblib in /usr/local/lib/python3.8/dist-packages (from py_stringsimjoin) (1.2.0)
Requirement already satisfied: six in /usr/local/lib/python3.8/dist-packages (from py_stringsimjoin) (1.15.0)
Requirement already satisfied: pandas>=0.16.0 in /usr/local/lib/python3.8/dist-packages (from py_stringsimjoin) (1.3.5)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.16.0->py_stringsimjoin) (1.21.6)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.16.0->py_stringsimjoin) (2022.7.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.16.0->py_stringsimjoin) (2.8.2)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: lxml in /usr/local/lib/python3.8/dist-packages (4.9.2)

In [2]:
# Imports we'll use through the notebook, collected here for simplicity

# For parsing dates and being able to compare
import datetime

# For fetching remote data
import urllib
import urllib.request

# Pandas dataframes and operations
import pandas as pd

# Numpy matrix and array operations
import numpy as np

# Sqlite is a simplistic sql database
import sqlite3

# Approximate string matching, see 
import py_stringsimjoin as ssj
import py_stringmatching as sm

# Data visualization
import matplotlib

# Lecture Module 1: Acquiring Data

To test our hypothesis, we might want:

1. A list of companies (and, for futher details, perhaps their lines of business)
2. A list of company CEOs
3. Ages of the CEOs

We'll go through each of these using real data from the web.

### Reading Structured Data Sources

Let's start by looking up data about companies.  An example of this is at:

https://gist.githubusercontent.com/jvilledieu/c3afe5bc21da28880a30/raw/a344034b82a11433ba6f149afa47e57567d4a18f/Companies.csv

which has some nicely detailed information about companies, their categories, when they were founded, etc.  Let's load this (remote) CSV file into a dataframe.

In [3]:
data = urllib.request.urlopen(\
       'https://gist.github.com/jvilledieu/c3afe5bc21da28880a30/raw/a344034b82a11433ba6f149afa47e57567d4a18f/Companies.csv')

company_data_df = pd.read_csv(data)

In [4]:
# Let's write it to SQL, and read it back
conn = sqlite3.connect('local.db')

company_data_df.to_sql("companies", conn, if_exists="replace", index=False)

pd.read_sql_query('select * from companies', conn)

,permalink,name,homepage_url,category_list,market,funding_total_usd,status,country_code,state_code,region,city,funding_rounds,founded_at,founded_month,founded_quarter,founded_year,first_funding_at,last_funding_at
0,/organization/waywire,#waywire,http://www.waywire.com,|Entertainment|Politics|Social Media|News|,News,1 750 000,acquired,USA,NY,New York City,New York,1,01/06/2012,2012-06,2012-Q2,2012.0,30/06/2012,30/06/2012
1,/organization/tv-communications,&TV Communications,http://enjoyandtv.com,|Games|,Games,4 000 000,operating,USA,CA,Los Angeles,Los Angeles,2,None,None,None,NaN,04/06/2010,23/09/2010
2,/organization/rock-your-paper,'Rock' Your Paper,http://www.rockyourpaper.org,|Publishing|Education|,Publishing,40 000,operating,EST,None,Tallinn,Tallinn,1,26/10/2012,2012-10,2012-Q4,2012.0,09/08/2012,09/08/2012
3,/organization/in-touch-network,(In)Touch Network,http://www.InTouchNetwork.com,|Electronics|Guides|Coffee|Restaurants|Music|iPhone|Apps|Mobile|iOS|E-Commerce|,Electronics,1 500 000,operating,GBR,None,London,London,1,01/04/2011,2011-04,2011-Q2,2011.0,01/04/2011,01/04/2011
4,/organization/n-plusn,+n (PlusN),http://plusn.com,|Software|,Software,1 200 000,operating,USA,NY,New York City,New York,2,01/01/2012,2012-01,2012-Q1,2012.0,29/08/2012,04/09/2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47753,/organization/zzish,Zzish,http://www.zzish.com,|Analytics|Gamification|Developer APIs|iOS|Android|Education|,Education,320 000,operating,GBR,None,London,London,1,28/01/2013,2013-01,2013-Q1,2013.0,24/03/2014,24/03/2014
47754,/organization/zznode-science-and-technology-co-ltd,ZZNode Science and Technology,http://www.zznode.com,|Enterprise Software|,Enterprise Software,1 587 301,operating,CHN,None,Beijing,Beijing,1,None,None,None,NaN,01/04/2012,01/04/2012
47755,/organization/zzzzapp-com,Zzzzapp Wireless ltd.,http://www.zzzzapp.com,|Web Development|Advertising|Wireless|Mobile|,Web Development,97 398,operating,HRV,None,Split,Split,5,13/05/2012,2012-05,2012-Q2,2012.0,01/11/2011,10/09/2014
47756,/organization/a-list-games,[a]list games,http://www.alistgames.com,|Games|,Games,9 300 000,operating,None,None,None,None,1,None,None,None,NaN,21/11/2011,21/11/2011
47757,/organization/x,[x+1],http://www.xplusone.com/,|Enterprise Software|,Enterprise Software,45 000 000,operating,USA,NY,New York City,New York,4,01/01/1999,1999-01,1999-Q1,1999.0,01/06/2008,04/04/2013

## Companies' CEOs: a Web Table

Now we need to figure out who the CEOs are for corporations.  One place to look is Wikipedia, which has an HTML table describing the CEOs.

https://en.wikipedia.org/wiki/List_of_chief_executive_officers#List_of_CEOs

Pandas actually makes it easy to read HTML tables...

In [5]:
# Now let's read an HTML table!
# opens the wiki page and finds List of CEOs table
company_ceos_df = pd.read_html('https://en.wikipedia.org/wiki/List_of_chief_executive_officers#List_of_CEOs')[0]
company_ceos_df

,Company,Executive,Title,Since,Notes,Updated
0,Accenture,Julie Sweet,CEO[1],2019,"Succeeded Pierre Nanterme, died",2019-01-31
1,Aditya Birla Group,Kumar Mangalam Birla,Chairman[2],1995[2],Part of the Birla family business house in India,2018-10-01
2,Adobe Systems,Shantanu Narayen,"Chairman, president and CEO[3]",2007,Formerly with Apple,2018-10-01
3,Agenus,Garo H. Armen,"Founder, chairman, CEO[4]",1994,Founder of the Children of Armenia Fund (COAF),2018-10-01
4,Airbus,Guillaume Faury,CEO[5],2012,Succeeded Louis Gallois,2017-11-14
...,...,...,...,...,...,...
170,Williams-Sonoma,Laura J. Alber,President and CEO[154],2010,Replaced W. Howard Lester,2017-11-11
171,WWE,Stephanie McMahon,Chairwoman and Co-CEO (Alongside Nick Khan) [155],2022,Chairwoman of the executive committeeChairwoman since 2022 CEO since July 22 2022,2017-11-11
172,Yum! Brands,Greg Creed,CEO[156],2015,Previously CEO for Taco Bell,2017-11-11
173,Zillow Group,Rich Barton,CEO[157],2019,Co-founder and previously was Zillow's CEO for nearly a decade. Succeeded Spencer Rascoff.,2018-12-10
174,Zoom Video Communications,Eric Yuan,"President, Chairman and CEO[158]",2011,Previously corporate Vice President of engineering at Cisco,2020-10-12

## The Problem Gets Harder... Extracting Structured Fields

So far we have companies and CEOs.  But we don't have information on how old the CEOs are!

For a solution, we're going to go back to Wikipedia -- this time looking at the web pages for the CEOs!

This involves "crawling" the CEO pages, and "scraping" the relevant content.  In other words we have to do *information extraction*.

We'll start by constructing a list of CEO web pages, from the Company CEO dataframe above.  For this, we need to take the names and do a bit of tweaking, for example adding underscores instead of spaces.

In [7]:
crawl_list = []

for executive in company_ceos_df['Executive']:
  crawl_list.append('https://en.wikipedia.org/wiki/' + executive.replace(' ', '_'))
 
crawl_list

['https://en.wikipedia.org/wiki/Julie_Sweet',
 'https://en.wikipedia.org/wiki/Kumar_Mangalam_Birla',
 'https://en.wikipedia.org/wiki/Shantanu_Narayen',
 'https://en.wikipedia.org/wiki/Garo_H._Armen',
 'https://en.wikipedia.org/wiki/Guillaume_Faury',
 'https://en.wikipedia.org/wiki/Daniel_Zhang',
 'https://en.wikipedia.org/wiki/Andy_Jassy',
 'https://en.wikipedia.org/wiki/Lisa_Su',
 'https://en.wikipedia.org/wiki/Stephen_Squeri',
 'https://en.wikipedia.org/wiki/Joseph_R._Swedish',
 'https://en.wikipedia.org/wiki/Tim_Cook',
 'https://en.wikipedia.org/wiki/Lakshmi_Niwas_Mittal',
 'https://en.wikipedia.org/wiki/John_Stankey',
 'https://en.wikipedia.org/wiki/Charles_Woodburn',
 'https://en.wikipedia.org/wiki/Tapan_Singhel',
 'https://en.wikipedia.org/wiki/Carlos_Torres_Vila',
 'https://en.wikipedia.org/wiki/Brian_Moynihan',
 'https://en.wikipedia.org/wiki/C.S._Venkatakrishnan',
 'https://en.wikipedia.org/wiki/Warren_Buffett',
 'https://en.wikipedia.org/wiki/Hubert_Joly',
 'https://en.wikipedia.org/wiki/Sunil_Bharti_Mittal',
 'https://en.wikipedia.org/wiki/Stephen_A._Schwarzman',
 'https://en.wikipedia.org/wiki/Andrew_Mackenzie',
 'https://en.wikipedia.org/wiki/Oliver_Zipse',
 'https://en.wikipedia.org/wiki/Dave_Calhoun',
 'https://en.wikipedia.org/wiki/Rich_Lesser',
 'https://en.wikipedia.org/wiki/Bob_Dudley',
 'https://en.wikipedia.org/wiki/Denise_Morrison',
 'https://en.wikipedia.org/wiki/Mark_Shuttleworth',
 'https://en.wikipedia.org/wiki/Richard_Fairbank',
 'https://en.wikipedia.org/wiki/Jim_Umpleby',
 'https://en.wikipedia.org/wiki/Evan_Greenberg',
 'https://en.wikipedia.org/wiki/Chuck_Robbins',
 'https://en.wikipedia.org/wiki/Jane_Fraser',
 'https://en.wikipedia.org/wiki/James_Quincey',
 'https://en.wikipedia.org/wiki/Brian_L._Roberts',
 'https://en.wikipedia.org/wiki/Thomas_Gottstein',
 'https://en.wikipedia.org/wiki/Ola_Källenius',
 'https://en.wikipedia.org/wiki/Michael_Dell',
 'https://en.wikipedia.org/wiki/Ed_Bastian',
 'https://en.wikipedia.org/wiki/Christian_Sewing',
 'https://en.wikipedia.org/wiki/Frank_Appel',
 'https://en.wikipedia.org/wiki/Roland_Dickey_Jr.',
 'https://en.wikipedia.org/wiki/Edward_D._Breen',
 'https://en.wikipedia.org/wiki/G._V._Prasad',
 'https://en.wikipedia.org/wiki/Devin_Wenig',
 'https://en.wikipedia.org/wiki/Andrew_Wilson',
 'https://en.wikipedia.org/wiki/Börje_Ekholm',
 'https://en.wikipedia.org/wiki/Darren_Woods',
 'https://en.wikipedia.org/wiki/Lisa_S._Jones',
 'https://en.wikipedia.org/wiki/Carmine_Di_Sibio',
 'https://en.wikipedia.org/wiki/Mark_Zuckerberg',
 'https://en.wikipedia.org/wiki/Frederick_W._Smith',
 'https://en.wikipedia.org/wiki/Rihanna',
 'https://en.wikipedia.org/wiki/Sergio_Marchionne',
 'https://en.wikipedia.org/wiki/Abigail_Johnson',
 'https://en.wikipedia.org/wiki/James_Michael_Lafferty',
 'https://en.wikipedia.org/wiki/James_Hackett',
 'https://en.wikipedia.org/wiki/Terry_Gou',
 'https://en.wikipedia.org/wiki/Lachlan_Murdoch',
 'https://en.wikipedia.org/wiki/Daymond_John',
 'https://en.wikipedia.org/wiki/Phebe_Novakovic',
 'https://en.wikipedia.org/wiki/H._Lawrence_Culp_Jr.',
 'https://en.wikipedia.org/wiki/Mary_T._Barra',
 'https://en.wikipedia.org/wiki/Emma_Walmsley',
 'https://en.wikipedia.org/wiki/David_M._Solomon',
 'https://en.wikipedia.org/wiki/Sundar_Pichai',
 'https://en.wikipedia.org/wiki/Felipe_Gozon',
 'https://en.wikipedia.org/wiki/Gunupati_Venkata_Krishna_Reddy',
 'https://en.wikipedia.org/wiki/C_Vijayakumar',
 'https://en.wikipedia.org/wiki/Lee_Shau_Kee',
 'https://en.wikipedia.org/wiki/Antonio_Neri',
 'https://en.wikipedia.org/wiki/Darius_Adamczyk',
 'https://en.wikipedia.org/wiki/John_A._Kaneb',
 'https://en.wikipedia.org/wiki/Noel_Quinn',
 'https://en.wikipedia.org/wiki/Arvind_Krishna',
 'https://en.wikipedia.org/wiki/Dikesh_Malhotra',
 'https://en.wikipedia.org/wiki/Salil_Parekh',
 'https://en.wikipedia.org/wiki/Pat_Gelsinger',
 'https://en.wikipedia.org/wiki/Millard_Drexler',
 'https://en.wikipedia.org/wiki/Richard_B._Handler',
 'https://en.wikipedia.org/wiki/James_Dimon',
 'https://en.wikipedia.org/wiki/Andrew_S._Rosen',
 'https://en.wikipedia.org/wiki/Pieter_Elbers',
 'https://en.wikipedia.org/wiki/Charles_G._Koch',
 'https://en.wikipedia.org/wiki/Jeff_Clarke',
 'https://en.wikipedia.org/wiki/Robert_Noel',
 'https://en.wikipedia.org/wiki/Robert_Goldstein',
 'https://en.wikipedia.org/wiki/Andrew_Meslow',
 'https://en.wikipedia.org/wiki/Marillyn_Hewson',
 'https://en.wikipedia.org/wiki/Steve_Rowe',
 'https://en.wikipedia.org/wiki/Chris_Kempczinski',
 'https://en.wikipedia.org/wiki/Kevin_Sneader',
 'https://en.wikipedia.org/wiki/Jonathan_Ornstein',
 'https://en.wikipedia.org/wiki/Steven_A._Kandarian',
 'https://en.wikipedia.org/wiki/Isaac_Larian',
 'https://en.wikipedia.org/wiki/Satya_Nadella',
 'https://en.wikipedia.org/wiki/Michael_J._Saylor',
 'https://en.wikipedia.org/wiki/James_P._Gorman',
 'https://en.wikipedia.org/wiki/Toxey_Haas',
 'https://en.wikipedia.org/wiki/Chris_Beard',
 'https://en.wikipedia.org/wiki/Jeff_Shell',
 'https://en.wikipedia.org/wiki/Robert_James_Thomson',
 'https://en.wikipedia.org/wiki/Mark_Thompson',
 'https://en.wikipedia.org/wiki/Mark_Parker',
 'https://en.wikipedia.org/wiki/Pekka_Lundmark',
 'https://en.wikipedia.org/wiki/Vasant_Narasimhan',
 'https://en.wikipedia.org/wiki/Tatsumi_Kimishima',
 'https://en.wikipedia.org/wiki/Tim_Armstrong',
 'https://en.wikipedia.org/wiki/Safra_Catz',
 'https://en.wikipedia.org/wiki/Mark_Hurd',
 'https://en.wikipedia.org/wiki/Ramon_Laguarta',
 'https://en.wikipedia.org/wiki/Albert_Bourla',
 'https://en.wikipedia.org/wiki/Patrice_Louvet',
 'https://en.wikipedia.org/wiki/David_S._Taylor',
 'https://en.wikipedia.org/wiki/John_Strangfeld',
 'https://en.wikipedia.org/wiki/Alan_Joyce',
 'https://en.wikipedia.org/wiki/Anil_Ambani',
 'https://en.wikipedia.org/wiki/Mukesh_Ambani',
 'https://en.wikipedia.org/wiki/Luca_de_Meo',
 'https://en.wikipedia.org/wiki/Phiwa_Nkambule',
 'https://en.wikipedia.org/wiki/David_I._McKay',
 'https://en.wikipedia.org/wiki/Ross_McEwan',
 'https://en.wikipedia.org/wiki/Ben_van_Beurden',
 "https://en.wikipedia.org/wiki/Michael_O'Leary",
 'https://en.wikipedia.org/wiki/Douglas_L._Peterson',
 'https://en.wikipedia.org/wiki/Herbert_Fisk_Johnson_III',
 'https://en.wikipedia.org/wiki/Brian_Peddle',
 'https://en.wikipedia.org/wiki/Oh-Hyun_Kwon',
 'https://en.wikipedia.org/wiki/Christian_Klein',
 'https://en.wikipedia.org/wiki/James_Goodnight',
 'https://en.wikipedia.org/wiki/Jean-Pascal_Tricoire',
 'https://en.wikipedia.org/wiki/Roland_Busch',
 'https://en.wikipedia.org/wiki/David_Simon',
 'https://en.wikipedia.org/wiki/Chua_Sock_Koong',
 'https://en.wikipedia.org/wiki/Masayoshi_Son',
 'https://en.wikipedia.org/wiki/Tony_Aquila',
 'https://en.wikipedia.org/wiki/Gary_C._Kelly',
 'https://en.wikipedia.org/wiki/J._Clifford_Hudson',
 'https://en.wikipedia.org/wiki/Laxman_Narasimhan',
 'https://en.wikipedia.org/wiki/Raymond_Kwok',
 'https://en.wikipedia.org/wiki/Dilip_Shanghvi',
 'https://en.wikipedia.org/wiki/William_H._Rogers_Jr.',
 'https://en.wikipedia.org/wiki/Rakesh_Khanna',
 'https://en.wikipedia.org/wiki/Brian_Cornell',
 'https://en.wikipedia.org/wiki/Rajesh_Gopinathan',
 'https://en.wikipedia.org/wiki/Li_Dongsheng',
 'https://en.wikipedia.org/wiki/Andy_Penn',
 'https://en.wikipedia.org/wiki/Ho_Ching',
 'https://en.wikipedia.org/wiki/Dave_Lewis',
 'https://en.wikipedia.org/wiki/Elon_Musk',
 'https://en.wikipedia.org/wiki/Alan_D._Schnitzer',
 'https://en.wikipedia.org/wiki/Akio_Toyoda',
 'https://en.wikipedia.org/wiki/Bill_Stromberg',
 'https://en.wikipedia.org/wiki/Elon_Musk',
 'https://en.wikipedia.org/wiki/Scott_Kirby',
 'https://en.wikipedia.org/wiki/Ralph_Hamers',
 'https://en.wikipedia.org/wiki/Joseph_C._Papa',
 'https://en.wikipedia.org/wiki/Hans_Vestberg',
 'https://en.wikipedia.org/wiki/Robert_Bakish',
 'https://en.wikipedia.org/wiki/Vittorio_Colao',
 'https://en.wikipedia.org/wiki/Herbert_Diess',
 'https://en.wikipedia.org/wiki/Bill_Hilf',
 'https://en.wikipedia.org/wiki/Robert_Iger',
 'https://en.wikipedia.org/wiki/Stefano_Pessina',
 'https://en.wikipedia.org/wiki/Doug_McMillon',
 'https://en.wikipedia.org/wiki/Ann_Sarnoff',
 'https://en.wikipedia.org/wiki/Jason_Kilar',
 'https://en.wikipedia.org/wiki/Charles_Scharf',
 'https://en.wikipedia.org/wiki/John_Mackey',
 'https://en.wikipedia.org/wiki/Laura_J._Alber',
 'https://en.wikipedia.org/wiki/Stephanie_McMahon',
 'https://en.wikipedia.org/wiki/Greg_Creed',
 'https://en.wikipedia.org/wiki/Rich_Barton',
 'https://en.wikipedia.org/wiki/Eric_Yuan']

In [8]:
# Use urllib.urlopen to crawl all pages in crawl_list, and store the response of the page
# in list pages 

pages = []

for url in crawl_list:
    page = url.split("/")[-1]     # extracts the person name at the end of the url
    print('Looking at file %s' % page)

    # An issue: some of the accent characters won't work.  We need to convert them
    # into an HTML URL.  We'll split the URL, then use "parse.quote" to change
    # the structure, then re-form the URL
    url_list = list(urllib.parse.urlsplit(url))
    url_list[2] = urllib.parse.quote(url_list[2])
    url_ascii = urllib.parse.urlunsplit(url_list)
    try:
      response = urllib.request.urlopen((url_ascii))
      #Save page and url for later use.
      pages.append(response)
    except urllib.error.URLError as e:
      print(e.reason)

Looking at file Julie_Sweet
Looking at file Kumar_Mangalam_Birla
Looking at file Shantanu_Narayen
Looking at file Garo_H._Armen
Looking at file Guillaume_Faury
Looking at file Daniel_Zhang
Looking at file Andy_Jassy
Looking at file Lisa_Su
Looking at file Stephen_Squeri
Looking at file Joseph_R._Swedish
Looking at file Tim_Cook
Looking at file Lakshmi_Niwas_Mittal
Looking at file John_Stankey
Looking at file Charles_Woodburn
Looking at file Tapan_Singhel
Looking at file Carlos_Torres_Vila
Looking at file Brian_Moynihan
Looking at file C.S._Venkatakrishnan
Looking at file Warren_Buffett
Looking at file Hubert_Joly
Looking at file Sunil_Bharti_Mittal
Looking at file Stephen_A._Schwarzman
Looking at file Andrew_Mackenzie
Looking at file Oliver_Zipse
Looking at file Dave_Calhoun
Looking at file Rich_Lesser
Looking at file Bob_Dudley
Looking at file Denise_Morrison
Looking at file Mark_Shuttleworth
Looking at file Richard_Fairbank
Looking at file Jim_Umpleby
Looking at file Evan_Greenberg
Looking at file Chuck_Robbins
Looking at file Jane_Fraser
Looking at file James_Quincey
Looking at file Brian_L._Roberts
Looking at file Thomas_Gottstein
Looking at file Ola_Källenius
Looking at file Michael_Dell
Looking at file Ed_Bastian
Looking at file Christian_Sewing
Looking at file Frank_Appel
Looking at file Roland_Dickey_Jr.
Looking at file Edward_D._Breen
Looking at file G._V._Prasad
Looking at file Devin_Wenig
Looking at file Andrew_Wilson
Looking at file Börje_Ekholm
Looking at file Darren_Woods
Looking at file Lisa_S._Jones
Looking at file Carmine_Di_Sibio
Looking at file Mark_Zuckerberg
Looking at file Frederick_W._Smith
Looking at file Rihanna
Looking at file Sergio_Marchionne
Looking at file Abigail_Johnson
Looking at file James_Michael_Lafferty
Looking at file James_Hackett
Looking at file Terry_Gou
Looking at file Lachlan_Murdoch
Looking at file Daymond_John
Looking at file Phebe_Novakovic
Looking at file H._Lawrence_Culp_Jr.
Looking at file Mary_T._Barra
Looking at file Emma_Walmsley
Looking at file David_M._Solomon
Looking at file Sundar_Pichai
Looking at file Felipe_Gozon
Looking at file Gunupati_Venkata_Krishna_Reddy
Looking at file C_Vijayakumar
Looking at file Lee_Shau_Kee
Looking at file Antonio_Neri
Looking at file Darius_Adamczyk
Looking at file John_A._Kaneb
Looking at file Noel_Quinn
Looking at file Arvind_Krishna
Looking at file Dikesh_Malhotra
Looking at file Salil_Parekh
Looking at file Pat_Gelsinger
Looking at file Millard_Drexler
Looking at file Richard_B._Handler
Looking at file James_Dimon
Looking at file Andrew_S._Rosen
Looking at file Pieter_Elbers
Looking at file Charles_G._Koch
Looking at file Jeff_Clarke
Looking at file Robert_Noel
Looking at file Robert_Goldstein
Looking at file Andrew_Meslow
Not Found
Looking at file Marillyn_Hewson
Looking at file Steve_Rowe
Looking at file Chris_Kempczinski
Looking at file Kevin_Sneader
Looking at file Jonathan_Ornstein
Looking at file Steven_A._Kandarian
Looking at file Isaac_Larian
Looking at file Satya_Nadella
Looking at file Michael_J._Saylor
Looking at file James_P._Gorman
Looking at file Toxey_Haas
Looking at file Chris_Beard
Looking at file Jeff_Shell
Looking at file Robert_James_Thomson
Looking at file Mark_Thompson
Looking at file Mark_Parker
Looking at file Pekka_Lundmark
Looking at file Vasant_Narasimhan
Looking at file Tatsumi_Kimishima
Looking at file Tim_Armstrong
Looking at file Safra_Catz
Looking at file Mark_Hurd
Looking at file Ramon_Laguarta
Looking at file Albert_Bourla
Looking at file Patrice_Louvet
Looking at file David_S._Taylor
Looking at file John_Strangfeld
Looking at file Alan_Joyce
Looking at file Anil_Ambani
Looking at file Mukesh_Ambani
Looking at file Luca_de_Meo
Looking at file Phiwa_Nkambule
Looking at file David_I._McKay
Looking at file Ross_McEwan
Looking at file Ben_van_Beurden
Looking at file Michael_O'Leary
Looking at file Douglas_L._Peterson
Looking at file Herbert_Fisk_Johnson_III
Looking at file Brian_Peddle
Looking at file Oh-Hyun_Kwon
Looking at file Christian_Klein
Looking at file James_Goodnight
Looking at file Jean-Pascal_Tricoire
Looking at file Roland_Busch
Not Found
Looking at file David_Simon
Looking at file Chua_Sock_Koong
Looking at file Masayoshi_Son
Looking at file Tony_Aquila
Looking at file Gary_C._Kelly
Looking at file J._Clifford_Hudson
Looking at file Laxman_Narasimhan
Looking at file Raymond_Kwok
Looking at file Dilip_Shanghvi
Looking at file William_H._Rogers_Jr.
Looking at file Rakesh_Khanna
Looking at file Brian_Cornell
Looking at file Rajesh_Gopinathan
Looking at file Li_Dongsheng
Looking at file Andy_Penn
Looking at file Ho_Ching
Looking at file Dave_Lewis
Looking at file Elon_Musk
Looking at file Alan_D._Schnitzer
Looking at file Akio_Toyoda
Looking at file Bill_Stromberg
Looking at file Elon_Musk
Looking at file Scott_Kirby
Looking at file Ralph_Hamers
Looking at file Joseph_C._Papa
Looking at file Hans_Vestberg
Looking at file Robert_Bakish
Looking at file Vittorio_Colao
Looking at file Herbert_Diess
Looking at file Bill_Hilf
Looking at file Robert_Iger
Looking at file Stefano_Pessina
Looking at file Doug_McMillon
Looking at file Ann_Sarnoff
Looking at file Jason_Kilar
Looking at file Charles_Scharf
Looking at file John_Mackey
Looking at file Laura_J._Alber
Looking at file Stephanie_McMahon
Looking at file Greg_Creed
Looking at file Rich_Barton
Looking at file Eric_Yuan

In [9]:
len(pages)
pages

[<http.client.HTTPResponse at 0x7f08ccf8a640>,
 <http.client.HTTPResponse at 0x7f08c88f3490>,
 <http.client.HTTPResponse at 0x7f08c88f36d0>,
 <http.client.HTTPResponse at 0x7f08c88f3640>,
 <http.client.HTTPResponse at 0x7f08c88f3670>,
 <http.client.HTTPResponse at 0x7f08c88f35b0>,
 <http.client.HTTPResponse at 0x7f08c88f36a0>,
 <http.client.HTTPResponse at 0x7f08c88f3880>,
 <http.client.HTTPResponse at 0x7f08c88f3580>,
 <http.client.HTTPResponse at 0x7f08c88f39a0>,
 <http.client.HTTPResponse at 0x7f08c8cf3a60>,
 <http.client.HTTPResponse at 0x7f08c9e43e20>,
 <http.client.HTTPResponse at 0x7f08cbcfd820>,
 <http.client.HTTPResponse at 0x7f08c8e04f70>,
 <http.client.HTTPResponse at 0x7f08c88f3550>,
 <http.client.HTTPResponse at 0x7f08c88f3a30>,
 <http.client.HTTPResponse at 0x7f08c88f3cd0>,
 <http.client.HTTPResponse at 0x7f08c88f3460>,
 <http.client.HTTPResponse at 0x7f08c9cc6430>,
 <http.client.HTTPResponse at 0x7f08c88f3ca0>,
 <http.client.HTTPResponse at 0x7f08c88f37f0>,
 <http.client.HTTPResponse at 0x7f08c88f3f10>,
 <http.client.HTTPResponse at 0x7f08c88f3e80>,
 <http.client.HTTPResponse at 0x7f08c88f34c0>,
 <http.client.HTTPResponse at 0x7f08c88f3d90>,
 <http.client.HTTPResponse at 0x7f08c88f3eb0>,
 <http.client.HTTPResponse at 0x7f08c8e04370>,
 <http.client.HTTPResponse at 0x7f08c88f3fa0>,
 <http.client.HTTPResponse at 0x7f08c87ac2e0>,
 <http.client.HTTPResponse at 0x7f08c87ac190>,
 <http.client.HTTPResponse at 0x7f08c87ac280>,
 <http.client.HTTPResponse at 0x7f08c87ac040>,
 <http.client.HTTPResponse at 0x7f08c87ac4c0>,
 <http.client.HTTPResponse at 0x7f08c87ac310>,
 <http.client.HTTPResponse at 0x7f08c87ac070>,
 <http.client.HTTPResponse at 0x7f08c8e041c0>,
 <http.client.HTTPResponse at 0x7f08c87ac670>,
 <http.client.HTTPResponse at 0x7f08c87ac550>,
 <http.client.HTTPResponse at 0x7f08c87ac760>,
 <http.client.HTTPResponse at 0x7f08c87aca90>,
 <http.client.HTTPResponse at 0x7f08c87ac700>,
 <http.client.HTTPResponse at 0x7f08c87acb20>,
 <http.client.HTTPResponse at 0x7f08c87acbe0>,
 <http.client.HTTPResponse at 0x7f08c87acb80>,
 <http.client.HTTPResponse at 0x7f08c87ac8b0>,
 <http.client.HTTPResponse at 0x7f08c87ac820>,
 <http.client.HTTPResponse at 0x7f08c87acd90>,
 <http.client.HTTPResponse at 0x7f08c87ace80>,
 <http.client.HTTPResponse at 0x7f08c87ace20>,
 <http.client.HTTPResponse at 0x7f08c87aceb0>,
 <http.client.HTTPResponse at 0x7f08c87acac0>,
 <http.client.HTTPResponse at 0x7f08c87ac610>,
 <http.client.HTTPResponse at 0x7f08c87acc70>,
 <http.client.HTTPResponse at 0x7f08c87acd30>,
 <http.client.HTTPResponse at 0x7f08c87acb50>,
 <http.client.HTTPResponse at 0x7f08c86270a0>,
 <http.client.HTTPResponse at 0x7f08c87ac940>,
 <http.client.HTTPResponse at 0x7f08c86274f0>,
 <http.client.HTTPResponse at 0x7f08c86272e0>,
 <http.client.HTTPResponse at 0x7f08c8e04280>,
 <http.client.HTTPResponse at 0x7f08c88f3b50>,
 <http.client.HTTPResponse at 0x7f08c86276d0>,
 <http.client.HTTPResponse at 0x7f08c8627580>,
 <http.client.HTTPResponse at 0x7f08c86278e0>,
 <http.client.HTTPResponse at 0x7f08c86279a0>,
 <http.client.HTTPResponse at 0x7f08c86272b0>,
 <http.client.HTTPResponse at 0x7f08c8627af0>,
 <http.client.HTTPResponse at 0x7f08c8627910>,
 <http.client.HTTPResponse at 0x7f08c8627ac0>,
 <http.client.HTTPResponse at 0x7f08c8627be0>,
 <http.client.HTTPResponse at 0x7f08c8627a60>,
 <http.client.HTTPResponse at 0x7f08c8627d30>,
 <http.client.HTTPResponse at 0x7f08c8627e50>,
 <http.client.HTTPResponse at 0x7f08c8627970>,
 <http.client.HTTPResponse at 0x7f08c8627ca0>,
 <http.client.HTTPResponse at 0x7f08c8627f10>,
 <http.client.HTTPResponse at 0x7f08c8627700>,
 <http.client.HTTPResponse at 0x7f08c8627d00>,
 <http.client.HTTPResponse at 0x7f08c8627c70>,
 <http.client.HTTPResponse at 0x7f08c8627610>,
 <http.client.HTTPResponse at 0x7f08c8627fd0>,
 <http.client.HTTPResponse at 0x7f08c8627fa0>,
 <http.client.HTTPResponse at 0x7f08c84a1100>,
 <http.client.HTTPResponse at 0x7f08c84a1160>,
 <http.client.HTTPResponse at 0x7f08c86271f0>,
 <http.client.HTTPResponse at 0x7f08c84a1490>,
 <http.client.HTTPResponse at 0x7f08c84a1400>,
 <http.client.HTTPResponse at 0x7f08c84a1190>,
 <http.client.HTTPResponse at 0x7f08c8627490>,
 <http.client.HTTPResponse at 0x7f08c84a16d0>,
 <http.client.HTTPResponse at 0x7f08c84a17c0>,
 <http.client.HTTPResponse at 0x7f08c84a1610>,
 <http.client.HTTPResponse at 0x7f08c84a1910>,
 <http.client.HTTPResponse at 0x7f08c84a1670>,
 <http.client.HTTPResponse at 0x7f08c84a1970>,
 <http.client.HTTPResponse at 0x7f08c84a1ac0>,
 <http.client.HTTPResponse at 0x7f08c84a19d0>,
 <http.client.HTTPResponse at 0x7f08c87acfd0>,
 <http.client.HTTPResponse at 0x7f08c8627e20>,
 <http.client.HTTPResponse at 0x7f08c84a1a30>,
 <http.client.HTTPResponse at 0x7f08c84a1d00>,
 <http.client.HTTPResponse at 0x7f08c84a1be0>,
 <http.client.HTTPResponse at 0x7f08c84a1d60>,
 <http.client.HTTPResponse at 0x7f08c84a1c70>,
 <http.client.HTTPResponse at 0x7f08c84a1220>,
 <http.client.HTTPResponse at 0x7f08c84a1f10>,
 <http.client.HTTPResponse at 0x7f08c8627640>,
 <http.client.HTTPResponse at 0x7f08c84a17f0>,
 <http.client.HTTPResponse at 0x7f08c84a19a0>,
 <http.client.HTTPResponse at 0x7f08c84a1820>,
 <http.client.HTTPResponse at 0x7f08c84a1e80>,
 <http.client.HTTPResponse at 0x7f08c84a1c10>,
 <http.client.HTTPResponse at 0x7f08c82a7040>,
 <http.client.HTTPResponse at 0x7f08c82a7520>,
 <http.client.HTTPResponse at 0x7f08c82a7460>,
 <http.client.HTTPResponse at 0x7f08c82a72e0>,
 <http.client.HTTPResponse at 0x7f08c87acf40>,
 <http.client.HTTPResponse at 0x7f08c82a75b0>,
 <http.client.HTTPResponse at 0x7f08c82a71c0>,
 <http.client.HTTPResponse at 0x7f08c82a77f0>,
 <http.client.HTTPResponse at 0x7f08c82a74c0>,
 <http.client.HTTPResponse at 0x7f08c82a7370>,
 <http.client.HTTPResponse at 0x7f08c82a79a0>,
 <http.client.HTTPResponse at 0x7f08c82a74f0>,
 <http.client.HTTPResponse at 0x7f08c82a7a30>,
 <http.client.HTTPResponse at 0x7f08c82a7610>,
 <http.client.HTTPResponse at 0x7f08c82a7be0>,
 <http.client.HTTPResponse at 0x7f08c82a7ac0>,
 <http.client.HTTPResponse at 0x7f08c82a7d60>,
 <http.client.HTTPResponse at 0x7f08c82a7ca0>,
 <http.client.HTTPResponse at 0x7f08c82a76d0>,
 <http.client.HTTPResponse at 0x7f08c82a7a60>,
 <http.client.HTTPResponse at 0x7f08c82a7c10>,
 <http.client.HTTPResponse at 0x7f08c82a7e50>,
 <http.client.HTTPResponse at 0x7f08c82a7f70>,
 <http.client.HTTPResponse at 0x7f08c82a7790>,
 <http.client.HTTPResponse at 0x7f08c82a7c70>,
 <http.client.HTTPResponse at 0x7f08c82a7640>,
 <http.client.HTTPResponse at 0x7f08c82a7f40>,
 <http.client.HTTPResponse at 0x7f08c80f0370>,
 <http.client.HTTPResponse at 0x7f08c80f0430>,
 <http.client.HTTPResponse at 0x7f08c80f00d0>,
 <http.client.HTTPResponse at 0x7f08c80f0460>,
 <http.client.HTTPResponse at 0x7f08c80f0490>,
 <http.client.HTTPResponse at 0x7f08c80f0130>,
 <http.client.HTTPResponse at 0x7f08c80f0220>,
 <http.client.HTTPResponse at 0x7f08c84a1b20>,
 <http.client.HTTPResponse at 0x7f08c80f0520>,
 <http.client.HTTPResponse at 0x7f08c80f0190>,
 <http.client.HTTPResponse at 0x7f08c80f0610>,
 <http.client.HTTPResponse at 0x7f08c80f07f0>,
 <http.client.HTTPResponse at 0x7f08c80f0a00>,
 <http.client.HTTPResponse at 0x7f08c80f04c0>,
 <http.client.HTTPResponse at 0x7f08c80f0bb0>,
 <http.client.HTTPResponse at 0x7f08c80f0250>,
 <http.client.HTTPResponse at 0x7f08c80f0d90>,
 <http.client.HTTPResponse at 0x7f08c80f0c70>,
 <http.client.HTTPResponse at 0x7f08c80f0b20>,
 <http.client.HTTPResponse at 0x7f08c80f0be0>,
 <http.client.HTTPResponse at 0x7f08c80f0fa0>,
 <http.client.HTTPResponse at 0x7f08c80f0fd0>,
 <http.client.HTTPResponse at 0x7f08c80f0c40>,
 <http.client.HTTPResponse at 0x7f08c80f0eb0>,
 <http.client.HTTPResponse at 0x7f08c80f0b50>,
 <http.client.HTTPResponse at 0x7f08c80f0df0>,
 <http.client.HTTPResponse at 0x7f08c80f01c0>,
 <http.client.HTTPResponse at 0x7f08c82a7ee0>,
 <http.client.HTTPResponse at 0x7f08c80f03d0>,
 <http.client.HTTPResponse at 0x7f08c80f0f40>,
 <http.client.HTTPResponse at 0x7f08c7e21340>,
 <http.client.HTTPResponse at 0x7f08c7e21550>,
 <http.client.HTTPResponse at 0x7f08c7e21400>,
 <http.client.HTTPResponse at 0x7f08c7e21640>]

## Populating the Table with Executives

In [10]:
# Use lxml.etree.HTML(...) on the HTML content of each page to get a DOM tree that
# can be processed via XPath to extract the bday information.  Store the CEO name, 
# webpage, and the birthdate (born) in exec_df.

# We first check that the HTML content has a table of type `vcard`,
# and then extract the `bday` information.  If there is no birthdate, the datetime 
# value is NaT (not a type). 

from lxml import etree

exec_df = pd.DataFrame(columns=['name','page','born'])

for page in pages:    
    tree = etree.HTML(page.read().decode("utf-8"))    # creates a DOM tree of the page
    url = page.geturl()
    bday = tree.xpath('//table[contains(@class,"vcard")]//span[@class="bday"]/text()')
    if len(bday) > 0:
        name = url[url.rfind('/') +1:]                 # name is the part of the URL after the last /
        exec_df = exec_df.append({'name': name, 'page': url,
                   'born': datetime.datetime.strptime(bday[0], "%Y-%m-%d")}, ignore_index=True)   # 'born': datetime.datetime.strptime(bday[0], '%Y-%m-%d')
    else: 
            exec_df = exec_df.append({'name': url[url.rfind('/')+1:], 'page': url
                                      , 'born': None}, ignore_index=True)
        
exec_df

,name,page,born
0,Julie_Sweet,https://en.wikipedia.org/wiki/Julie_Sweet,NaT
1,Kumar_Mangalam_Birla,https://en.wikipedia.org/wiki/Kumar_Mangalam_Birla,1967-06-14 00:00:00
2,Shantanu_Narayen,https://en.wikipedia.org/wiki/Shantanu_Narayen,1963-05-27 00:00:00
3,Garo_H._Armen,https://en.wikipedia.org/wiki/Garo_H._Armen,1953-01-31 00:00:00
4,Guillaume_Faury,https://en.wikipedia.org/wiki/Guillaume_Faury,1968-02-22 00:00:00
...,...,...,...
168,Laura_J._Alber,https://en.wikipedia.org/wiki/Laura_J._Alber,None
169,Stephanie_McMahon,https://en.wikipedia.org/wiki/Stephanie_McMahon,1976-09-24 00:00:00
170,Greg_Creed,https://en.wikipedia.org/wiki/Greg_Creed,None
171,Rich_Barton,https://en.wikipedia.org/wiki/Rich_Barton,None
172,Eric_Yuan,https://en.wikipedia.org/wiki/Eric_Yuan,1970-02-20 00:00:00

# Lecture Module 2: Data Transformation

Looking at our data to clean via *projection*...

Generally, we can extract one "narrower" table form another by using **double brackets**.

In [49]:
# Let's take a look at the data.  Here's a way of PROJECTING the exec_df dataframe into
# a smaller table

exec_df.index

RangeIndex(start=0, stop=173, step=1)

In [50]:
#exec_df['born'].index
#for i in range(len(exec_df)):
  #bday = exec_df['born'][i]
  #print(bday)
  #if bday == None or str(bday) == "NaT":
  #  continue
  #newbday = bday.strftime("%Y-%m-%d")
  #print(newbday)
  #exec_df['born'][i] = newbday

exec_df['born']

0                      NaT
1      1967-06-14 00:00:00
2      1963-05-27 00:00:00
3      1953-01-31 00:00:00
4      1968-02-22 00:00:00
              ...
168                   None
169    1976-09-24 00:00:00
170                   None
171                   None
172    1970-02-20 00:00:00
Name: born, Length: 173, dtype: object

In [51]:
# df with 2 cols
exec_df[['name', 'born']]

                     name                 born
0             Julie_Sweet                  NaT
1    Kumar_Mangalam_Birla  1967-06-14 00:00:00
2        Shantanu_Narayen  1963-05-27 00:00:00
3           Garo_H._Armen  1953-01-31 00:00:00
4         Guillaume_Faury  1968-02-22 00:00:00
..                    ...                  ...
168        Laura_J._Alber                 None
169     Stephanie_McMahon  1976-09-24 00:00:00
170            Greg_Creed                 None
171           Rich_Barton                 None
172             Eric_Yuan  1970-02-20 00:00:00

[173 rows x 2 columns]

In [52]:
exec_df

,name,page,born,clean_name
0,Julie_Sweet,https://en.wikipedia.org/wiki/Julie_Sweet,NaT,Julie Sweet
1,Kumar_Mangalam_Birla,https://en.wikipedia.org/wiki/Kumar_Mangalam_Birla,1967-06-14 00:00:00,Kumar Mangalam Birla
2,Shantanu_Narayen,https://en.wikipedia.org/wiki/Shantanu_Narayen,1963-05-27 00:00:00,Shantanu Narayen
3,Garo_H._Armen,https://en.wikipedia.org/wiki/Garo_H._Armen,1953-01-31 00:00:00,Garo H. Armen
4,Guillaume_Faury,https://en.wikipedia.org/wiki/Guillaume_Faury,1968-02-22 00:00:00,Guillaume Faury
...,...,...,...,...
168,Laura_J._Alber,https://en.wikipedia.org/wiki/Laura_J._Alber,None,Laura J. Alber
169,Stephanie_McMahon,https://en.wikipedia.org/wiki/Stephanie_McMahon,1976-09-24 00:00:00,Stephanie McMahon
170,Greg_Creed,https://en.wikipedia.org/wiki/Greg_Creed,None,Greg Creed
171,Rich_Barton,https://en.wikipedia.org/wiki/Rich_Barton,None,Rich Barton
172,Eric_Yuan,https://en.wikipedia.org/wiki/Eric_Yuan,1970-02-20 00:00:00,Eric Yuan

In [53]:
# If I use single brackets, I can extract a single column as a Series.
exec_df['name']

0               Julie_Sweet
1      Kumar_Mangalam_Birla
2          Shantanu_Narayen
3             Garo_H._Armen
4           Guillaume_Faury
               ...
168          Laura_J._Alber
169       Stephanie_McMahon
170              Greg_Creed
171             Rich_Barton
172               Eric_Yuan
Name: name, Length: 173, dtype: object

In [54]:
# Notice anything awry?

for person in exec_df['name']:
    print (person)

Julie_Sweet
Kumar_Mangalam_Birla
Shantanu_Narayen
Garo_H._Armen
Guillaume_Faury
Daniel_Zhang
Andy_Jassy
Lisa_Su
Stephen_Squeri
Joseph_R._Swedish
Tim_Cook
Lakshmi_Niwas_Mittal
John_Stankey
Charles_Woodburn
Tapan_Singhel
Carlos_Torres_Vila
Brian_Moynihan
C.S._Venkatakrishnan
Warren_Buffett
Hubert_Joly
Sunil_Bharti_Mittal
Stephen_A._Schwarzman
Andrew_Mackenzie
Oliver_Zipse
Dave_Calhoun
Rich_Lesser
Bob_Dudley
Denise_Morrison
Mark_Shuttleworth
Richard_Fairbank
Jim_Umpleby
Evan_Greenberg
Chuck_Robbins
Jane_Fraser
James_Quincey
Brian_L._Roberts
Thomas_Gottstein
Ola_K%C3%A4llenius
Michael_Dell
Ed_Bastian
Christian_Sewing
Frank_Appel
Roland_Dickey_Jr.
Edward_D._Breen
G._V._Prasad
Devin_Wenig
Andrew_Wilson
B%C3%B6rje_Ekholm
Darren_Woods
Lisa_S._Jones
Carmine_Di_Sibio
Mark_Zuckerberg
Frederick_W._Smith
Rihanna
Sergio_Marchionne
Abigail_Johnson
James_Michael_Lafferty
James_Hackett
Terry_Gou
Lachlan_Murdoch
Daymond_John
Phebe_Novakovic
H._Lawrence_Culp_Jr.
Mary_T._Barra
Emma_Walmsley
David_M._Solomon
Sundar_Pichai
Felipe_Gozon
Gunupati_Venkata_Krishna_Reddy
C_Vijayakumar
Lee_Shau_Kee
Antonio_Neri
Darius_Adamczyk
John_A._Kaneb
Noel_Quinn
Arvind_Krishna
Dikesh_Malhotra
Salil_Parekh
Pat_Gelsinger
Millard_Drexler
Richard_B._Handler
James_Dimon
Andrew_S._Rosen
Pieter_Elbers
Charles_G._Koch
Jeff_Clarke
Robert_Noel
Robert_Goldstein
Marillyn_Hewson
Steve_Rowe
Chris_Kempczinski
Kevin_Sneader
Jonathan_Ornstein
Steven_A._Kandarian
Isaac_Larian
Satya_Nadella
Michael_J._Saylor
James_P._Gorman
Toxey_Haas
Chris_Beard
Jeff_Shell
Robert_James_Thomson
Mark_Thompson
Mark_Parker
Pekka_Lundmark
Vasant_Narasimhan
Tatsumi_Kimishima
Tim_Armstrong
Safra_Catz
Mark_Hurd
Ramon_Laguarta
Albert_Bourla
Patrice_Louvet
David_S._Taylor
John_Strangfeld
Alan_Joyce
Anil_Ambani
Mukesh_Ambani
Luca_de_Meo
Phiwa_Nkambule
David_I._McKay
Ross_McEwan
Ben_van_Beurden
Michael_O%27Leary
Douglas_L._Peterson
Herbert_Fisk_Johnson_III
Brian_Peddle
Oh-Hyun_Kwon
Christian_Klein
James_Goodnight
Jean-Pascal_Tricoire
David_Simon
Chua_Sock_Koong
Masayoshi_Son
Tony_Aquila
Gary_C._Kelly
J._Clifford_Hudson
Laxman_Narasimhan
Raymond_Kwok
Dilip_Shanghvi
William_H._Rogers_Jr.
Rakesh_Khanna
Brian_Cornell
Rajesh_Gopinathan
Li_Dongsheng
Andy_Penn
Ho_Ching
Dave_Lewis
Elon_Musk
Alan_D._Schnitzer
Akio_Toyoda
Bill_Stromberg
Elon_Musk
Scott_Kirby
Ralph_Hamers
Joseph_C._Papa
Hans_Vestberg
Robert_Bakish
Vittorio_Colao
Herbert_Diess
Bill_Hilf
Robert_Iger
Stefano_Pessina
Doug_McMillon
Ann_Sarnoff
Jason_Kilar
Charles_Scharf
John_Mackey
Laura_J._Alber
Stephanie_McMahon
Greg_Creed
Rich_Barton
Eric_Yuan

In [55]:
# Removes underscores
def to_space(x):
  return x.replace('_', ' ')

# Let's use *apply* to call a function over each element, returning a new Series
exec_df['name'].apply(to_space)

0               Julie Sweet
1      Kumar Mangalam Birla
2          Shantanu Narayen
3             Garo H. Armen
4           Guillaume Faury
               ...
168          Laura J. Alber
169       Stephanie McMahon
170              Greg Creed
171             Rich Barton
172               Eric Yuan
Name: name, Length: 173, dtype: object

In [56]:
# Let's use *apply* to call a function over each element, returning a new Series
exec_df['name'].apply(lambda x: x.replace('_', ' '))

0               Julie Sweet
1      Kumar Mangalam Birla
2          Shantanu Narayen
3             Garo H. Armen
4           Guillaume Faury
               ...
168          Laura J. Alber
169       Stephanie McMahon
170              Greg Creed
171             Rich Barton
172               Eric Yuan
Name: name, Length: 173, dtype: object

In [57]:
# I can also use *apply* to call a function over the rows of a dataframe
exec_df.apply(lambda x: x['name'].replace('_', ' '), axis=1)

0               Julie Sweet
1      Kumar Mangalam Birla
2          Shantanu Narayen
3             Garo H. Armen
4           Guillaume Faury
               ...
168          Laura J. Alber
169       Stephanie McMahon
170              Greg Creed
171             Rich Barton
172               Eric Yuan
Length: 173, dtype: object

In [58]:
# Let's clean the name by removing underscores and add it as a new col into our exec_df dataframe
exec_df['clean_name'] = exec_df['name'].apply(lambda x: x.replace('_', ' '))
exec_df

,name,page,born,clean_name
0,Julie_Sweet,https://en.wikipedia.org/wiki/Julie_Sweet,NaT,Julie Sweet
1,Kumar_Mangalam_Birla,https://en.wikipedia.org/wiki/Kumar_Mangalam_Birla,1967-06-14 00:00:00,Kumar Mangalam Birla
2,Shantanu_Narayen,https://en.wikipedia.org/wiki/Shantanu_Narayen,1963-05-27 00:00:00,Shantanu Narayen
3,Garo_H._Armen,https://en.wikipedia.org/wiki/Garo_H._Armen,1953-01-31 00:00:00,Garo H. Armen
4,Guillaume_Faury,https://en.wikipedia.org/wiki/Guillaume_Faury,1968-02-22 00:00:00,Guillaume Faury
...,...,...,...,...
168,Laura_J._Alber,https://en.wikipedia.org/wiki/Laura_J._Alber,None,Laura J. Alber
169,Stephanie_McMahon,https://en.wikipedia.org/wiki/Stephanie_McMahon,1976-09-24 00:00:00,Stephanie McMahon
170,Greg_Creed,https://en.wikipedia.org/wiki/Greg_Creed,None,Greg Creed
171,Rich_Barton,https://en.wikipedia.org/wiki/Rich_Barton,None,Rich Barton
172,Eric_Yuan,https://en.wikipedia.org/wiki/Eric_Yuan,1970-02-20 00:00:00,Eric Yuan

In [59]:
# Renames the column 'name' with 'old_name'
exec_df.rename(columns={'name': 'old_name'})

,old_name,page,born,clean_name
0,Julie_Sweet,https://en.wikipedia.org/wiki/Julie_Sweet,NaT,Julie Sweet
1,Kumar_Mangalam_Birla,https://en.wikipedia.org/wiki/Kumar_Mangalam_Birla,1967-06-14 00:00:00,Kumar Mangalam Birla
2,Shantanu_Narayen,https://en.wikipedia.org/wiki/Shantanu_Narayen,1963-05-27 00:00:00,Shantanu Narayen
3,Garo_H._Armen,https://en.wikipedia.org/wiki/Garo_H._Armen,1953-01-31 00:00:00,Garo H. Armen
4,Guillaume_Faury,https://en.wikipedia.org/wiki/Guillaume_Faury,1968-02-22 00:00:00,Guillaume Faury
...,...,...,...,...
168,Laura_J._Alber,https://en.wikipedia.org/wiki/Laura_J._Alber,None,Laura J. Alber
169,Stephanie_McMahon,https://en.wikipedia.org/wiki/Stephanie_McMahon,1976-09-24 00:00:00,Stephanie McMahon
170,Greg_Creed,https://en.wikipedia.org/wiki/Greg_Creed,None,Greg Creed
171,Rich_Barton,https://en.wikipedia.org/wiki/Rich_Barton,None,Rich Barton
172,Eric_Yuan,https://en.wikipedia.org/wiki/Eric_Yuan,1970-02-20 00:00:00,Eric Yuan

In [60]:
exec_df

,name,page,born,clean_name
0,Julie_Sweet,https://en.wikipedia.org/wiki/Julie_Sweet,NaT,Julie Sweet
1,Kumar_Mangalam_Birla,https://en.wikipedia.org/wiki/Kumar_Mangalam_Birla,1967-06-14 00:00:00,Kumar Mangalam Birla
2,Shantanu_Narayen,https://en.wikipedia.org/wiki/Shantanu_Narayen,1963-05-27 00:00:00,Shantanu Narayen
3,Garo_H._Armen,https://en.wikipedia.org/wiki/Garo_H._Armen,1953-01-31 00:00:00,Garo H. Armen
4,Guillaume_Faury,https://en.wikipedia.org/wiki/Guillaume_Faury,1968-02-22 00:00:00,Guillaume Faury
...,...,...,...,...
168,Laura_J._Alber,https://en.wikipedia.org/wiki/Laura_J._Alber,None,Laura J. Alber
169,Stephanie_McMahon,https://en.wikipedia.org/wiki/Stephanie_McMahon,1976-09-24 00:00:00,Stephanie McMahon
170,Greg_Creed,https://en.wikipedia.org/wiki/Greg_Creed,None,Greg Creed
171,Rich_Barton,https://en.wikipedia.org/wiki/Rich_Barton,None,Rich Barton
172,Eric_Yuan,https://en.wikipedia.org/wiki/Eric_Yuan,1970-02-20 00:00:00,Eric Yuan

In [64]:
# We can do the same via SQL.  For the example we'll save the dataframe first...

# Let's convert types to string first to avoid errors.
temp_df = exec_df.applymap(str)

temp_df.to_sql('temp_exec', conn, if_exists="replace")
pd.read_sql_query('select name, replace(name, "_", " ") as clean_name from temp_exec', conn)

                     name            clean_name
0             Julie_Sweet           Julie Sweet
1    Kumar_Mangalam_Birla  Kumar Mangalam Birla
2        Shantanu_Narayen      Shantanu Narayen
3           Garo_H._Armen         Garo H. Armen
4         Guillaume_Faury       Guillaume Faury
..                    ...                   ...
168        Laura_J._Alber        Laura J. Alber
169     Stephanie_McMahon     Stephanie McMahon
170            Greg_Creed            Greg Creed
171           Rich_Barton           Rich Barton
172             Eric_Yuan             Eric Yuan

[173 rows x 2 columns]

## Selecting a subset of the rows

In [65]:
# Here's a column

exec_df['clean_name']

0               Julie Sweet
1      Kumar Mangalam Birla
2          Shantanu Narayen
3             Garo H. Armen
4           Guillaume Faury
               ...
168          Laura J. Alber
169       Stephanie McMahon
170              Greg Creed
171             Rich Barton
172               Eric Yuan
Name: clean_name, Length: 173, dtype: object

In [70]:
# We can apply a test (predicate) to each column, returning a Series of boolean true/false values

exec_df['clean_name'] == 'Julie Sweet'

0       True
1      False
2      False
3      False
4      False
       ...
168    False
169    False
170    False
171    False
172    False
Name: clean_name, Length: 173, dtype: bool

In [72]:
# If we compose these, we'll get only those rows where the boolean condition was True

exec_df[exec_df['clean_name'] == 'Julie Sweet']

          name                                       page born   clean_name
0  Julie_Sweet  https://en.wikipedia.org/wiki/Julie_Sweet  NaT  Julie Sweet

In [73]:
# Returns row that's true + page col as a df  
# aka elem in df form 
exec_df[exec_df['clean_name'] == 'Julie Sweet'][['page']]

                                        page
0  https://en.wikipedia.org/wiki/Julie_Sweet

In [27]:
# And in SQL...

temp_df= exec_df.applymap(str)
temp_df.to_sql('temp_exec', conn, if_exists="replace")

pd.read_sql_query('select * from temp_exec where clean_name="Julie Sweet"', conn)

,index,name,page,born,clean_name
0,0,Julie_Sweet,https://en.wikipedia.org/wiki/Julie_Sweet,NaT,Julie Sweet

In [28]:
pd.read_sql_query('select page from temp_exec where clean_name="Julie Sweet"', conn)

                                        page
0  https://en.wikipedia.org/wiki/Julie_Sweet

In [29]:
import numpy as np

exec_df.dropna(subset=['born'])

,name,page,born,clean_name
1,Kumar_Mangalam_Birla,https://en.wikipedia.org/wiki/Kumar_Mangalam_Birla,1967-06-14 00:00:00,Kumar Mangalam Birla
2,Shantanu_Narayen,https://en.wikipedia.org/wiki/Shantanu_Narayen,1963-05-27 00:00:00,Shantanu Narayen
3,Garo_H._Armen,https://en.wikipedia.org/wiki/Garo_H._Armen,1953-01-31 00:00:00,Garo H. Armen
4,Guillaume_Faury,https://en.wikipedia.org/wiki/Guillaume_Faury,1968-02-22 00:00:00,Guillaume Faury
5,Daniel_Zhang,https://en.wikipedia.org/wiki/Daniel_Zhang,1972-01-11 00:00:00,Daniel Zhang
...,...,...,...,...
163,Doug_McMillon,https://en.wikipedia.org/wiki/Doug_McMillon,1966-10-17 00:00:00,Doug McMillon
165,Jason_Kilar,https://en.wikipedia.org/wiki/Jason_Kilar,1971-04-26 00:00:00,Jason Kilar
166,Charles_Scharf,https://en.wikipedia.org/wiki/Charles_Scharf,1965-04-24 00:00:00,Charles Scharf
169,Stephanie_McMahon,https://en.wikipedia.org/wiki/Stephanie_McMahon,1976-09-24 00:00:00,Stephanie McMahon
172,Eric_Yuan,https://en.wikipedia.org/wiki/Eric_Yuan,1970-02-20 00:00:00,Eric Yuan

In [30]:
pd.read_sql_query('select * from temp_exec where born is not null', conn).set_index('index')

,name,page,born,clean_name
index,,,,
0,Julie_Sweet,https://en.wikipedia.org/wiki/Julie_Sweet,NaT,Julie Sweet
1,Kumar_Mangalam_Birla,https://en.wikipedia.org/wiki/Kumar_Mangalam_Birla,1967-06-14 00:00:00,Kumar Mangalam Birla
2,Shantanu_Narayen,https://en.wikipedia.org/wiki/Shantanu_Narayen,1963-05-27 00:00:00,Shantanu Narayen
3,Garo_H._Armen,https://en.wikipedia.org/wiki/Garo_H._Armen,1953-01-31 00:00:00,Garo H. Armen
4,Guillaume_Faury,https://en.wikipedia.org/wiki/Guillaume_Faury,1968-02-22 00:00:00,Guillaume Faury
...,...,...,...,...
168,Laura_J._Alber,https://en.wikipedia.org/wiki/Laura_J._Alber,None,Laura J. Alber
169,Stephanie_McMahon,https://en.wikipedia.org/wiki/Stephanie_McMahon,1976-09-24 00:00:00,Stephanie McMahon
170,Greg_Creed,https://en.wikipedia.org/wiki/Greg_Creed,None,Greg Creed
171,Rich_Barton,https://en.wikipedia.org/wiki/Rich_Barton,None,Rich Barton
172,Eric_Yuan,https://en.wikipedia.org/wiki/Eric_Yuan,1970-02-20 00:00:00,Eric Yuan

## Joining Data

We start with a simple join between company_ceos_df and exec_df and persist it to the database.  We then check how many companies did not have a match on CEO name.

In [31]:
exec_df[['clean_name', 'born']]

               clean_name                 born
0             Julie Sweet                  NaT
1    Kumar Mangalam Birla  1967-06-14 00:00:00
2        Shantanu Narayen  1963-05-27 00:00:00
3           Garo H. Armen  1953-01-31 00:00:00
4         Guillaume Faury  1968-02-22 00:00:00
..                    ...                  ...
168        Laura J. Alber                 None
169     Stephanie McMahon  1976-09-24 00:00:00
170            Greg Creed                 None
171           Rich Barton                 None
172             Eric Yuan  1970-02-20 00:00:00

[173 rows x 2 columns]

In [32]:
company_ceos_df[['Executive', 'Company']]

                Executive                    Company
0             Julie Sweet                  Accenture
1    Kumar Mangalam Birla         Aditya Birla Group
2        Shantanu Narayen              Adobe Systems
3           Garo H. Armen                     Agenus
4         Guillaume Faury                     Airbus
..                    ...                        ...
170        Laura J. Alber            Williams-Sonoma
171     Stephanie McMahon                        WWE
172            Greg Creed                Yum! Brands
173           Rich Barton               Zillow Group
174             Eric Yuan  Zoom Video Communications

[175 rows x 2 columns]

In [33]:
company_ceos_df[['Executive', 'Company']].merge(exec_df[['clean_name', 'born']], 
                                                left_on=['Executive'], 
                                                right_on=['clean_name'])

,Executive,Company,clean_name,born
0,Julie Sweet,Accenture,Julie Sweet,NaT
1,Kumar Mangalam Birla,Aditya Birla Group,Kumar Mangalam Birla,1967-06-14 00:00:00
2,Shantanu Narayen,Adobe Systems,Shantanu Narayen,1963-05-27 00:00:00
3,Garo H. Armen,Agenus,Garo H. Armen,1953-01-31 00:00:00
4,Guillaume Faury,Airbus,Guillaume Faury,1968-02-22 00:00:00
...,...,...,...,...
167,Laura J. Alber,Williams-Sonoma,Laura J. Alber,None
168,Stephanie McMahon,WWE,Stephanie McMahon,1976-09-24 00:00:00
169,Greg Creed,Yum! Brands,Greg Creed,None
170,Rich Barton,Zillow Group,Rich Barton,None
171,Eric Yuan,Zoom Video Communications,Eric Yuan,1970-02-20 00:00:00

In [34]:
temp_df= company_ceos_df.applymap(str)
temp_df.to_sql('company_ceos', conn, if_exists="replace")
temp_df= exec_df.applymap(str)
temp_df.to_sql('executives', conn, if_exists="replace")
company_data_df.to_sql('company_data', conn, if_exists='replace')

pd.read_sql_query('select Executive, Company, born from company_ceos ' +\
                  'join executives on Executive=clean_name ' +\
                  'where born is not null', conn)

                Executive                    Company                 born
0             Julie Sweet                  Accenture                  NaT
1    Kumar Mangalam Birla         Aditya Birla Group  1967-06-14 00:00:00
2        Shantanu Narayen              Adobe Systems  1963-05-27 00:00:00
3           Garo H. Armen                     Agenus  1953-01-31 00:00:00
4         Guillaume Faury                     Airbus  1968-02-22 00:00:00
..                    ...                        ...                  ...
167        Laura J. Alber            Williams-Sonoma                 None
168     Stephanie McMahon                        WWE  1976-09-24 00:00:00
169            Greg Creed                Yum! Brands                 None
170           Rich Barton               Zillow Group                 None
171             Eric Yuan  Zoom Video Communications  1970-02-20 00:00:00

[172 rows x 3 columns]

###Finding the misses in the join.

Note that the join above resulted in 174 rows.  However, there are more rows in company_ceos_df so we are missing some companies.  We can see which are missed using a left outer join; setting "indicator= True" allows us to see which tuples in company_ceos_df failed to find a match (left_only, e.g. row 24 and 172).

In [35]:
pd.set_option('display.max_rows', 200)
display(company_ceos_df[['Executive', 'Company']].merge(exec_df[['clean_name', 'born']], 
                                                left_on=['Executive'], 
                                                right_on=['clean_name'], how="left", indicator=True))

,Executive,Company,clean_name,born,_merge
0,Julie Sweet,Accenture,Julie Sweet,NaT,both
1,Kumar Mangalam Birla,Aditya Birla Group,Kumar Mangalam Birla,1967-06-14 00:00:00,both
2,Shantanu Narayen,Adobe Systems,Shantanu Narayen,1963-05-27 00:00:00,both
3,Garo H. Armen,Agenus,Garo H. Armen,1953-01-31 00:00:00,both
4,Guillaume Faury,Airbus,Guillaume Faury,1968-02-22 00:00:00,both
5,Daniel Zhang,Alibaba,Daniel Zhang,1972-01-11 00:00:00,both
6,Andy Jassy,Amazon,Andy Jassy,1968-01-13 00:00:00,both
7,Lisa Su,Advanced Micro Devices,Lisa Su,1969-11-07 00:00:00,both
8,Stephen Squeri,American Express,Stephen Squeri,NaT,both
9,Joseph R. Swedish,Anthem,Joseph R. Swedish,1951-05-17 00:00:00,both
10,Tim Cook,Apple,Tim Cook,1960-11-01 00:00:00,both
11,Lakshmi Niwas Mittal,Arcelor Mittal,Lakshmi Niwas Mittal,1950-06-15 00:00:00,both
12,John Stankey,AT&T,John Stankey,NaT,both
13,Charles Woodburn,BAE Systems,Charles Woodburn,NaT,both
14,Tapan Singhel,Bajaj Allianz General Insurance,Tapan Singhel,1966-08-12 00:00:00,both
15,Carlos Torres Vila,Banco Bilbao Vizcaya Argentaria,Carlos Torres Vila,NaT,both
16,Brian Moynihan,Bank of America,Brian Moynihan,1959-10-09 00:00:00,both
17,C.S. Venkatakrishnan,Barclays,C.S. Venkatakrishnan,NaT,both
18,Warren Buffett,Berkshire Hathaway,Warren Buffett,1930-08-30 00:00:00,both
19,Hubert Joly,Best Buy,Hubert Joly,1959-08-11 00:00:00,both
20,Sunil Bharti Mittal,Bharti Enterprises,Sunil Bharti Mittal,1957-10-23 00:00:00,both
21,Stephen A. Schwarzman,Blackstone Group,Stephen A. Schwarzman,1947-02-14 00:00:00,both
22,Andrew Mackenzie,BHP,Andrew Mackenzie,NaT,both
23,Oliver Zipse,BMW,Oliver Zipse,1964-02-07 00:00:00,both
24,Dave Calhoun,Boeing,Dave Calhoun,1957-04-18 00:00:00,both
25,Rich Lesser,Boston Consulting Group,Rich Lesser,NaT,both
26,Bob Dudley,BP,Bob Dudley,1955-09-14 00:00:00,both
27,Denise Morrison,Campbell Soup Company,Denise Morrison,1954-01-13 00:00:00,both
28,Mark Shuttleworth,Canonical,Mark Shuttleworth,1973-09-18 00:00:00,both
29,Richard Fairbank,Capital One Financial,Richard Fairbank,1950-09-18 00:00:00,both
30,Jim Umpleby,Caterpillar,Jim Umpleby,NaT,both
31,Evan Greenberg,Chubb,Evan Greenberg,NaT,both
32,Chuck Robbins,Cisco Systems,Chuck Robbins,NaT,both
33,Jane Fraser,Citigroup,Jane Fraser,NaT,both
34,James Quincey,Coca-Cola,James Quincey,1965-01-08 00:00:00,both
35,Brian L. Roberts,Comcast,Brian L. Roberts,1959-06-28 00:00:00,both
36,Thomas Gottstein,Credit Suisse,Thomas Gottstein,NaT,both
37,Ola Källenius,Daimler AG,NaN,NaN,left_only
38,Michael Dell,Dell,Michael Dell,1965-02-23 00:00:00,both
39,Ed Bastian,Delta Air Lines,Ed Bastian,1957-06-06 00:00:00,both
40,Christian Sewing,Deutsche Bank,Christian Sewing,1970-04-24 00:00:00,both
41,Frank Appel,Deutsche Post,Frank Appel,NaT,both
42,Roland Dickey Jr.,Dickey's Barbecue Pit,Roland Dickey Jr.,NaT,both
43,Edward D. Breen,Dow Chemical Company,Edward D. Breen,NaT,both
44,G. V. Prasad,Dr. Reddy's,G. V. Prasad,NaT,both
45,Devin Wenig,eBay,Devin Wenig,NaT,both
46,Andrew Wilson,Electronic Arts,Andrew Wilson,NaT,both
47,Börje Ekholm,Ericsson,NaN,NaN,left_only
48,Darren Woods,ExxonMobil,Darren Woods,NaT,both
49,Lisa S. Jones,EyeMail Inc.,Lisa S. Jones,1974-04-01 00:00:00,both
50,Carmine Di Sibio,Ernst & Young,Carmine Di Sibio,1963-03-23 00:00:00,both
51,Mark Zuckerberg,Facebook,Mark Zuckerberg,1984-05-14 00:00:00,both
52,Frederick W. Smith,FedEx,Frederick W. Smith,1944-08-11 00:00:00,both
53,Rihanna,Fenty Beauty,Rihanna,1988-02-20 00:00:00,both
54,Sergio Marchionne,Fiat,Sergio Marchionne,NaT,both
55,Abigail Johnson,Fidelity Investments,Abigail Johnson,1961-12-19 00:00:00,both
56,James Michael Lafferty,Fine Hygienic Holding,James Michael Lafferty,NaT,both
57,James Hackett,Ford,James Hackett,NaT,both
58,Terry Gou,Foxconn,Terry Gou,1950-10-18 00:00:00,both
59,Lachlan Murdoch,Fox Corporation,Lachlan Murdoch,1971-09-08 00:00:00,both
60,Daymond John,FUBU,Daymond John,1969-02-23 00:00:00,both
61,Phebe Novakovic,General Dynamics,Phebe Novakovic,NaT,both
62,H. Lawrence Culp Jr.,General Electric,H. Lawrence Culp Jr.,NaT,both
63,Mary T. Barra,General Motors,Mary T. Barra,1961-12-24 00:00:00,both
64,Emma Walmsley,GlaxoSmithKline,Emma Walmsley,NaT,both
65,David M. Solomon,Goldman Sachs,David M. Solomon,NaT,both
66,Sundar Pichai,Google,Sundar Pichai,1972-06-10 00:00:00,both
67,Felipe Gozon,GMA Network,Felipe Gozon,1939-12-08 00:00:00,both
68,Gunupati Venkata Krishna Reddy,GVK Industries,Gunupati Venkata Krishna Reddy,1937-03-22 00:00:00,both
69,C Vijayakumar,HCL Technologies,C Vijayakumar,NaT,both
70,Lee Shau Kee,Henderson Land Development,Lee Shau Kee,1928-03-07 00:00:00,both
71,Antonio Neri,Hewlett Packard Enterprise,Antonio Neri,1576-02-29 00:00:00,both
72,Darius Adamczyk,Honeywell,Darius Adamczyk,1966-02-08 00:00:00,both
73,John A. Kaneb,HP Hood,John A. Kaneb,1934-12-14 00:00:00,both
74,Noel Quinn,HSBC,Noel Quinn,None,both
75,Arvind Krishna,IBM,Arvind Krishna,None,both
76,Dikesh Malhotra,IMS Group,Dikesh Malhotra,None,both
77,Salil Parekh,Infosys,Salil Parekh,1964-06-05 00:00:00,both
78,Pat Gelsinger,Intel,Pat Gelsinger,1961-03-05 00:00:00,both
79,Millard Drexler,J.Crew,Millard Drexler,1944-08-17 00:00:00,both
80,Richard B. Handler,Jefferies Group,Richard B. Handler,1961-05-23 00:00:00,both
81,James Dimon,JP Morgan Chase,James Dimon,1956-03-13 00:00:00,both
82,Andrew S. Rosen,Kaplan,Andrew S. Rosen,None,both
83,Pieter Elbers,KLM,Pieter Elbers,1970-05-11 00:00:00,both
84,Charles G. Koch,Koch Industries,Charles G. Koch,1935-11-01 00:00:00,both
85,Jeff Clarke,Kodak,Jeff Clarke,None,both
86,Robert Noel,Land Securities,Robert Noel,1962-10-15 00:00:00,both
87,Robert Goldstein,Las Vegas Sands,Robert Goldstein,None,both
88,Andrew Meslow,"Bath & Body Works, Inc.",NaN,NaN,left_only
89,Marillyn Hewson,Lockheed Martin,Marillyn Hewson,1953-12-27 00:00:00,both
90,Steve Rowe,Marks & Spencer,Steve Rowe,1965-01-19 00:00:00,both
91,Chris Kempczinski,McDonald's,Chris Kempczinski,None,both
92,Kevin Sneader,McKinsey & Company,Kevin Sneader,None,both
93,Jonathan Ornstein,Mesa Air Group,Jonathan Ornstein,None,both
94,Steven A. Kandarian,MetLife,Steven A. Kandarian,None,both
95,Isaac Larian,MGA Entertainment,Isaac Larian,1954-03-28 00:00:00,both
96,Satya Nadella,Microsoft,Satya Nadella,1967-08-19 00:00:00,both
97,Michael J. Saylor,MicroStrategy,Michael J. Saylor,1965-02-04 00:00:00,both
98,James P. Gorman,Morgan Stanley,James P. Gorman,1958-07-14 00:00:00,both
99,Toxey Haas,Mossy Oak,Toxey Haas,1960-01-21 00:00:00,both
100,Chris Beard,Mozilla Corporation,Chris Beard,1973-02-18 00:00:00,both
101,Jeff Shell,NBCUniversal,Jeff Shell,None,both
102,Robert James Thomson,News Corp,Robert James Thomson,1961-03-11 00:00:00,both
103,Mark Thompson,New York Times Company,Mark Thompson,None,both
104,Mark Parker,Nike,Mark Parker,1955-10-21 00:00:00,both
105,Pekka Lundmark,Nokia,Pekka Lundmark,1963-12-09 00:00:00,both
106,Vasant Narasimhan,Novartis,Vasant Narasimhan,1976-08-26 00:00:00,both
107,Tatsumi Kimishima,Nintendo,Tatsumi Kimishima,1950-04-21 00:00:00,both
108,Tim Armstrong,Oath,Tim Armstrong,1965-11-25 00:00:00,both
109,Safra Catz,Oracle Corporation,Safra Catz,1961-12-01 00:00:00,both
110,Mark Hurd,Oracle Corporation,Mark Hurd,1957-01-01 00:00:00,both
111,Ramon Laguarta,PepsiCo,Ramon Laguarta,None,both
112,Albert Bourla,Pfizer,Albert Bourla,1961-10-21 00:00:00,both
113,Patrice Louvet,Polo Ralph Lauren,Patrice Louvet,None,both
114,David S. Taylor,Procter & Gamble,David S. Taylor,1958-04-20 00:00:00,both
115,John Strangfeld,Prudential Financial,John Strangfeld,None,both
116,Alan Joyce,Qantas,Alan Joyce,1942-10-21 00:00:00,both
117,Anil Ambani,Reliance Group,Anil Ambani,1959-06-04 00:00:00,both
118,Mukesh Ambani,Reliance Industries,Mukesh Ambani,1957-04-19 00:00:00,both
119,Luca de Meo,Renault,Luca de Meo,1967-06-13 00:00:00,both
120,Phiwa Nkambule,Riovic,Phiwa Nkambule,1992-01-24 00:00:00,both
121,David I. McKay,Royal Bank of Canada,David I. McKay,None,both
122,Ross McEwan,Royal Bank of Scotland,Ross McEwan,1957-07-16 00:00:00,both
123,Ben van Beurden,Royal Dutch Shell,Ben van Beurden,1958-04-23 00:00:00,both
124,Michael O'Leary,Ryanair,NaN,NaN,left_only
125,Douglas L. Peterson,S&P Global,Douglas L. Peterson,None,both
126,Herbert Fisk Johnson III,SC Johnson,Herbert Fisk Johnson III,1958-05-19 00:00:00,both
127,Brian Peddle,The Salvation Army,Brian Peddle,1957-08-08 00:00:00,both
128,Oh-Hyun Kwon,Samsung,Oh-Hyun Kwon,1952-10-15 00:00:00,both
129,Christian Klein,SAP,Christian Klein,1980-05-04 00:00:00,both
130,James Goodnight,SAS Institute,James Goodnight,None,both
131,Jean-Pascal Tricoire,Schneider Electric,Jean-Pascal Tricoire,1963-05-11 00:00:00,both
132,Roland Busch,Siemens,NaN,NaN,left_only
133,David Simon,Simon Property Group,David Simon,1960-02-09 00:00:00,both
134,Chua Sock Koong,Singtel,Chua Sock Koong,None,both
135,Masayoshi Son,SoftBank,Masayoshi Son,1957-08-11 00:00:00,both
136,Tony Aquila,Solera Holdings,Tony Aquila,None,both
137,Gary C. Kelly,Southwest Airlines,Gary C. Kelly,1955-03-12 00:00:00,both
138,J. Clifford Hudson,Sonic Corporation,J. Clifford Hudson,None,both
139,Laxman Narasimhan,Starbucks,Laxman Narasimhan,1967-05-15 00:00:00,both
140,Raymond Kwok,Sun Hung Kai Properties,Raymond Kwok,None,both
141,Dilip Shanghvi,Sun Pharmaceutical,Dilip Shanghvi,1955-10-01 00:00:00,both
142,William H. Rogers Jr.,SunTrust Banks,William H. Rogers Jr.,None,both
143,Rakesh Khanna,Syntel,Rakesh Khanna,None,both
144,Brian Cornell,Target Corporation,Brian Cornell,None,both
145,Rajesh Gopinathan,Tata Consultancy Services,Rajesh Gopinathan,None,both
146,Li Dongsheng,TCL Corporation,Li Dongsheng,None,both
147,Andy Penn,Telstra,Andy Penn,None,both
148,Ho Ching,Temasek Holdings,Ho Ching,1953-03-27 00:00:00,both
149,Dave Lewis,Tesco,Dave Lewis,None,both
150,Elon Musk,Tesla,Elon Musk,1971-06-28 00:00:00,both
151,Elon Musk,Tesla,Elon Musk,1971-06-28 00:00:00,both
152,Alan D. Schnitzer,The Travelers Companies,Alan D. Schnitzer,None,both
153,Akio Toyoda,Toyota,Akio Toyoda,1956-05-03 00:00:00,both
154,Bill Stromberg,T Rowe Price,Bill Stromberg,None,both
155,Elon Musk,Twitter,Elon Musk,1971-06-28 00:00:00,both
156,Elon Musk,Twitter,Elon Musk,1971-06-28 00:00:00,both
157,Scott Kirby,United Airlines,Scott Kirby,1967-08-13 00:00:00,both
158,Ralph Hamers,UBS,Ralph Hamers,1966-05-25 00:00:00,both
159,Joseph C. Papa,Bausch Health,Joseph C. Papa,1955-10-01 00:00:00,both
160,Hans Vestberg,Verizon Communications,Hans Vestberg,1965-06-23 00:00:00,both
161,Robert Bakish,ViacomCBS,Robert Bakish,1963-12-14 00:00:00,both
162,Vittorio Colao,Vodafone,Vittorio Colao,1961-10-03 00:00:00,both
163,Herbert Diess,Volkswagen Group,Herbert Diess,1958-10-24 00:00:00,both
164,Bill Hilf,Vulcan,Bill Hilf,None,both
165,Robert Iger,Walt Disney Company,Robert Iger,1951-02-10 00:00:00,both
166,Stefano Pessina,Walgreens Boots Alliance,Stefano Pessina,1941-06-04 00:00:00,both
167,Doug McMillon,Walmart,Doug McMillon,1966-10-17 00:00:00,both
168,Ann Sarnoff,Warner Brothers,Ann Sarnoff,None,both
169,Jason Kilar,WarnerMedia,Jason Kilar,1971-04-26 00:00:00,both
170,Charles Scharf,Wells Fargo,Charles Scharf,1965-04-24 00:00:00,both
171,John Mackey,Whole Foods Market,John Mackey,None,both
172,Laura J. Alber,Williams-Sonoma,Laura J. Alber,None,both
173,Stephanie McMahon,WWE,Stephanie McMahon,1976-09-24 00:00:00,both
174,Greg Creed,Yum! Brands,Greg Creed,None,both
175,Rich Barton,Zillow Group,Rich Barton,None,both
176,Eric Yuan,Zoom Video Communications,Eric Yuan,1970-02-20 00:00:00,both

In [36]:
pd.set_option('display.max_rows', 50)
result_df = company_ceos_df[['Executive', 'Company']].merge(exec_df[['clean_name', 'born']], 
                                                left_on=['Executive'], 
                                                right_on=['clean_name'], how="outer", indicator=True)

result_df[result_df['_merge'] != 'both']

,Executive,Company,clean_name,born,_merge
37,Ola Källenius,Daimler AG,NaN,NaN,left_only
47,Börje Ekholm,Ericsson,NaN,NaN,left_only
88,Andrew Meslow,"Bath & Body Works, Inc.",NaN,NaN,left_only
124,Michael O'Leary,Ryanair,NaN,NaN,left_only
132,Roland Busch,Siemens,NaN,NaN,left_only
177,NaN,NaN,Ola K%C3%A4llenius,1969-06-11 00:00:00,right_only
178,NaN,NaN,B%C3%B6rje Ekholm,NaT,right_only
179,NaN,NaN,Michael O%27Leary,None,right_only

## Composing Joins

In [37]:
pd.read_sql_query('select Executive, Company, born  from company_ceos ' +\
                  'join executives on Executive=clean_name join company_data cd on Company=cd.name ' +\
                  'where born is not null', conn)

               Executive                 Company                 born
0          Garo H. Armen                  Agenus  1953-01-31 00:00:00
1           Daniel Zhang                 Alibaba  1972-01-11 00:00:00
2             Andy Jassy                  Amazon  1968-01-13 00:00:00
3       Charles Woodburn             BAE Systems                  NaT
4      Mark Shuttleworth               Canonical  1973-09-18 00:00:00
5       Brian L. Roberts                 Comcast  1959-06-28 00:00:00
6            Devin Wenig                    eBay                  NaT
7        Mark Zuckerberg                Facebook  1984-05-14 00:00:00
8        Phebe Novakovic        General Dynamics                  NaT
9   H. Lawrence Culp Jr.        General Electric                  NaT
10         Sundar Pichai                  Google  1972-06-10 00:00:00
11       Darius Adamczyk               Honeywell  1966-02-08 00:00:00
12       Marillyn Hewson         Lockheed Martin  1953-12-27 00:00:00
13     Jonathan Ornstein          Mesa Air Group                 None
14  Robert James Thomson               News Corp  1961-03-11 00:00:00
15     Laxman Narasimhan               Starbucks  1967-05-15 00:00:00
16            Dave Lewis                   Tesco                 None
17             Elon Musk                 Twitter  1971-06-28 00:00:00
18             Elon Musk                 Twitter  1971-06-28 00:00:00
19         Hans Vestberg  Verizon Communications  1965-06-23 00:00:00

In [38]:
pd.read_sql_query('select * from company_ceos ' +\
                  'join executives on Executive=clean_name join company_data cd on Company=cd.name ' +\
                  'where born is not null', conn)

,index,Company,Executive,Title,Since,Notes,Updated,index,name,page,...,state_code,region,city,funding_rounds,founded_at,founded_month,founded_quarter,founded_year,first_funding_at,last_funding_at
0,3,Agenus,Garo H. Armen,"Founder, chairman, CEO[4]",1994,Founder of the Children of Armenia Fund (COAF),2018-10-01,3,Garo_H._Armen,https://en.wikipedia.org/wiki/Garo_H._Armen,...,MA,Boston,Lexington,2,01/01/1994,1994-01,1994-Q1,1994.0,04/08/2009,25/04/2013
1,5,Alibaba,Daniel Zhang,CEO[6],2015,Previously with Taobao,2018-10-01,5,Daniel_Zhang,https://en.wikipedia.org/wiki/Daniel_Zhang,...,None,Hangzhou,Hangzhou,4,01/06/1999,1999-06,1999-Q2,1999.0,01/10/1999,11/08/2005
2,6,Amazon,Andy Jassy,CEO and president[7],2021,nan,nan,6,Andy_Jassy,https://en.wikipedia.org/wiki/Andy_Jassy,...,WA,Seattle,Seattle,1,01/01/1994,1994-01,1994-Q1,1994.0,01/07/1995,01/07/1995
3,13,BAE Systems,Charles Woodburn,Chief Executive Officer[14],2008,Succeeded Ian King,2018-10-01,13,Charles_Woodburn,https://en.wikipedia.org/wiki/Charles_Woodburn,...,MD,"Washington, D.C.",Rockville,2,01/11/1999,1999-11,1999-Q4,1999.0,30/11/2009,10/09/2010
4,28,Canonical,Mark Shuttleworth,Founder and CEO[28],2017,Stepped down as CEO in 2009 and resumed in 2017,2017-11-14,28,Mark_Shuttleworth,https://en.wikipedia.org/wiki/Mark_Shuttleworth,...,None,London,London,1,01/01/2004,2004-01,2004-Q1,2004.0,16/08/2013,16/08/2013
5,35,Comcast,Brian L. Roberts,Chairman and CEO[35],2002,"Son of Ralph J. Roberts, the founder of Comcast",2017-11-14,35,Brian_L._Roberts,https://en.wikipedia.org/wiki/Brian_L._Roberts,...,PA,Philadelphia,Philadelphia,1,01/01/1963,1963-01,1963-Q1,1963.0,08/05/2013,08/05/2013
6,45,eBay,Devin Wenig,President and CEO[43],2015,"Third CEO of the company, after Meg Whitman and John Donahoe",2017-11-14,45,Devin_Wenig,https://en.wikipedia.org/wiki/Devin_Wenig,...,CA,SF Bay Area,San Jose,1,01/09/1995,1995-09,1995-Q3,1995.0,01/06/1997,01/06/1997
7,51,Facebook,Mark Zuckerberg,Chairman and CEO,2004,Co-founded Facebook in 2004,2017-11-14,51,Mark_Zuckerberg,https://en.wikipedia.org/wiki/Mark_Zuckerberg,...,CA,SF Bay Area,Menlo Park,11,04/02/2004,2004-02,2004-Q1,2004.0,01/09/2004,21/01/2011
8,61,General Dynamics,Phebe Novakovic,Chairman and CEO[53],2014,Worked for the Central Intelligence Agency and the United States Department of Defense,2017-11-14,61,Phebe_Novakovic,https://en.wikipedia.org/wiki/Phebe_Novakovic,...,VA,"Washington, D.C.",Falls Church,3,01/01/1952,1952-01,1952-Q1,1952.0,05/08/2009,10/09/2010
9,62,General Electric,H. Lawrence Culp Jr.,Chairman and CEO,2018,"Prior to joining GE, Culp worked at Danaher Corporation in Washington, D.C.",2018-10-01,62,H._Lawrence_Culp_Jr.,https://en.wikipedia.org/wiki/H._Lawrence_Culp_Jr.,...,CT,Hartford,Fairfield,1,1890-01-01,None,None,NaN,19/11/2009,19/11/2009
10,66,Google,Sundar Pichai,CEO[57],2015,Former director of Jive Software from 2011 to 2013,2017-11-13,66,Sundar_Pichai,https://en.wikipedia.org/wiki/Sundar_Pichai,...,CA,SF Bay Area,Mountain View,2,07/09/1998,1998-09,1998-Q3,1998.0,01/08/1998,07/06/1999
11,72,Honeywell,Darius Adamczyk,"Chairman, President, and CEO[63]",2017,Succeeded David M. Cote (now the executive chairman),2017-11-13,72,Darius_Adamczyk,https://en.wikipedia.org/wiki/Darius_Adamczyk,...,NJ,Newark,Morristown,1,23/04/1985,1985-04,1985-Q2,1985.0,27/10/2009,27/10/2009
12,89,Lockheed Martin,Marillyn Hewson,"Chairman, president and CEO[77]",2013,Also serves on the board of Sandia National Laboratories and DuPont,2017-11-13,88,Marillyn_Hewson,https://en.wikipedia.org/wiki/Marillyn_Hewson,...,MD,"Washington, D.C.",Bethesda,2,01/03/1995,1995-03,1995-Q1,1995.0,06/07/2009,22/11/2010
13,93,Mesa Air Group,Jonathan Ornstein,Chairman and CEO[81],1998,Formerly led Virgin Express and Continental Express,2017-11-13,92,Jonathan_Ornstein,https://en.wikipedia.org/wiki/Jonathan_Ornstein,...,AZ,Phoenix,Phoenix,1,01/01/1982,1982-01,1982-Q1,1982.0,13/08/2014,13/08/2014
14,102,News Corp,Robert James Thomson,CEO[89],2013,Previously managing editor of The Wall Street Journal,2017-11-12,101,Robert_James_Thomson,https://en.wikipedia.org/wiki/Robert_James_Thomson,...,NY,New York City,New York,1,01/01/1980,1980-01,1980-Q1,1980.0,08/01/2010,08/01/2010
15,139,Starbucks,Laxman Narasimhan,President and CEO[123],2017,Previously CEO for Juniper Networks; succeeds Howard Schultz,2017-11-11,137,Laxman_Narasimhan,https://en.wikipedia.org/wiki/Laxman_Narasimhan,...,WA,Seattle,Seattle,1,30/03/1971,1971-03,1971-Q1,1971.0,01/02/1991,01/02/1991
16,149,Tesco,Dave Lewis,Group CEO[133],2014,Previously with Unilever,2017-11-11,147,Dave_Lewis,https://en.wikipedia.org/wiki/Dave_Lewis,...,None,GBR - Other,Cheshunt,2,01/01/1919,1919-01,1919-Q1,1919.0,30/07/2009,15/07/2010
17,154,Twitter,Elon Musk,CEO[138],2021,Succeeded Jack Dorsey,2021-11-30,148,Elon_Musk,https://en.wikipedia.org/wiki/Elon_Musk,...,CA,SF Bay Area,San Francisco,8,21/03/2006,2006-03,2006-Q1,2006.0,01/07/2007,08/09/2011
18,154,Twitter,Elon Musk,CEO[138],2021,Succeeded Jack Dorsey,2021-11-30,152,Elon_Musk,https://en.wikipedia.org/wiki/Elon_Musk,...,CA,SF Bay Area,San Francisco,8,21/03/2006,2006-03,2006-Q1,2006.0,01/07/2007,08/09/2011
19,158,Verizon Communications,Hans Vestberg,Chairman and CEO[142],2018,Replaced Lowell McAdam,2019-03-31,156,Hans_Vestberg,https://en.wikipedia.org/wiki/Hans_Vestberg,...,NY,New York City,New York,5,07/10/1983,1983-10,1983-Q4,1983.0,26/01/2010,28/02/2014

In [39]:
company_ceos_df.merge(exec_df, 
                      left_on=['Executive'], 
                      right_on=['clean_name']).\
                      merge(company_data_df,
                            left_on='Company',
                            right_on='name')

,Company,Executive,Title,Since,Notes,Updated,name_x,page,born,clean_name,...,state_code,region,city,funding_rounds,founded_at,founded_month,founded_quarter,founded_year,first_funding_at,last_funding_at
0,Agenus,Garo H. Armen,"Founder, chairman, CEO[4]",1994,Founder of the Children of Armenia Fund (COAF),2018-10-01,Garo_H._Armen,https://en.wikipedia.org/wiki/Garo_H._Armen,1953-01-31 00:00:00,Garo H. Armen,...,MA,Boston,Lexington,2,01/01/1994,1994-01,1994-Q1,1994.0,04/08/2009,25/04/2013
1,Alibaba,Daniel Zhang,CEO[6],2015,Previously with Taobao,2018-10-01,Daniel_Zhang,https://en.wikipedia.org/wiki/Daniel_Zhang,1972-01-11 00:00:00,Daniel Zhang,...,NaN,Hangzhou,Hangzhou,4,01/06/1999,1999-06,1999-Q2,1999.0,01/10/1999,11/08/2005
2,Amazon,Andy Jassy,CEO and president[7],2021,NaN,NaN,Andy_Jassy,https://en.wikipedia.org/wiki/Andy_Jassy,1968-01-13 00:00:00,Andy Jassy,...,WA,Seattle,Seattle,1,01/01/1994,1994-01,1994-Q1,1994.0,01/07/1995,01/07/1995
3,BAE Systems,Charles Woodburn,Chief Executive Officer[14],2008,Succeeded Ian King,2018-10-01,Charles_Woodburn,https://en.wikipedia.org/wiki/Charles_Woodburn,NaT,Charles Woodburn,...,MD,"Washington, D.C.",Rockville,2,01/11/1999,1999-11,1999-Q4,1999.0,30/11/2009,10/09/2010
4,Canonical,Mark Shuttleworth,Founder and CEO[28],2017,Stepped down as CEO in 2009 and resumed in 2017,2017-11-14,Mark_Shuttleworth,https://en.wikipedia.org/wiki/Mark_Shuttleworth,1973-09-18 00:00:00,Mark Shuttleworth,...,NaN,London,London,1,01/01/2004,2004-01,2004-Q1,2004.0,16/08/2013,16/08/2013
5,Comcast,Brian L. Roberts,Chairman and CEO[35],2002,"Son of Ralph J. Roberts, the founder of Comcast",2017-11-14,Brian_L._Roberts,https://en.wikipedia.org/wiki/Brian_L._Roberts,1959-06-28 00:00:00,Brian L. Roberts,...,PA,Philadelphia,Philadelphia,1,01/01/1963,1963-01,1963-Q1,1963.0,08/05/2013,08/05/2013
6,eBay,Devin Wenig,President and CEO[43],2015,"Third CEO of the company, after Meg Whitman and John Donahoe",2017-11-14,Devin_Wenig,https://en.wikipedia.org/wiki/Devin_Wenig,NaT,Devin Wenig,...,CA,SF Bay Area,San Jose,1,01/09/1995,1995-09,1995-Q3,1995.0,01/06/1997,01/06/1997
7,Facebook,Mark Zuckerberg,Chairman and CEO,2004,Co-founded Facebook in 2004,2017-11-14,Mark_Zuckerberg,https://en.wikipedia.org/wiki/Mark_Zuckerberg,1984-05-14 00:00:00,Mark Zuckerberg,...,CA,SF Bay Area,Menlo Park,11,04/02/2004,2004-02,2004-Q1,2004.0,01/09/2004,21/01/2011
8,General Dynamics,Phebe Novakovic,Chairman and CEO[53],2014,Worked for the Central Intelligence Agency and the United States Department of Defense,2017-11-14,Phebe_Novakovic,https://en.wikipedia.org/wiki/Phebe_Novakovic,NaT,Phebe Novakovic,...,VA,"Washington, D.C.",Falls Church,3,01/01/1952,1952-01,1952-Q1,1952.0,05/08/2009,10/09/2010
9,General Electric,H. Lawrence Culp Jr.,Chairman and CEO,2018,"Prior to joining GE, Culp worked at Danaher Corporation in Washington, D.C.",2018-10-01,H._Lawrence_Culp_Jr.,https://en.wikipedia.org/wiki/H._Lawrence_Culp_Jr.,NaT,H. Lawrence Culp Jr.,...,CT,Hartford,Fairfield,1,1890-01-01,NaN,NaN,NaN,19/11/2009,19/11/2009
10,Google,Sundar Pichai,CEO[57],2015,Former director of Jive Software from 2011 to 2013,2017-11-13,Sundar_Pichai,https://en.wikipedia.org/wiki/Sundar_Pichai,1972-06-10 00:00:00,Sundar Pichai,...,CA,SF Bay Area,Mountain View,2,07/09/1998,1998-09,1998-Q3,1998.0,01/08/1998,07/06/1999
11,Honeywell,Darius Adamczyk,"Chairman, President, and CEO[63]",2017,Succeeded David M. Cote (now the executive chairman),2017-11-13,Darius_Adamczyk,https://en.wikipedia.org/wiki/Darius_Adamczyk,1966-02-08 00:00:00,Darius Adamczyk,...,NJ,Newark,Morristown,1,23/04/1985,1985-04,1985-Q2,1985.0,27/10/2009,27/10/2009
12,Lockheed Martin,Marillyn Hewson,"Chairman, president and CEO[77]",2013,Also serves on the board of Sandia National Laboratories and DuPont,2017-11-13,Marillyn_Hewson,https://en.wikipedia.org/wiki/Marillyn_Hewson,1953-12-27 00:00:00,Marillyn Hewson,...,MD,"Washington, D.C.",Bethesda,2,01/03/1995,1995-03,1995-Q1,1995.0,06/07/2009,22/11/2010
13,Mesa Air Group,Jonathan Ornstein,Chairman and CEO[81],1998,Formerly led Virgin Express and Continental Express,2017-11-13,Jonathan_Ornstein,https://en.wikipedia.org/wiki/Jonathan_Ornstein,None,Jonathan Ornstein,...,AZ,Phoenix,Phoenix,1,01/01/1982,1982-01,1982-Q1,1982.0,13/08/2014,13/08/2014
14,News Corp,Robert James Thomson,CEO[89],2013,Previously managing editor of The Wall Street Journal,2017-11-12,Robert_James_Thomson,https://en.wikipedia.org/wiki/Robert_James_Thomson,1961-03-11 00:00:00,Robert James Thomson,...,NY,New York City,New York,1,01/01/1980,1980-01,1980-Q1,1980.0,08/01/2010,08/01/2010
15,Starbucks,Laxman Narasimhan,President and CEO[123],2017,Previously CEO for Juniper Networks; succeeds Howard Schultz,2017-11-11,Laxman_Narasimhan,https://en.wikipedia.org/wiki/Laxman_Narasimhan,1967-05-15 00:00:00,Laxman Narasimhan,...,WA,Seattle,Seattle,1,30/03/1971,1971-03,1971-Q1,1971.0,01/02/1991,01/02/1991
16,Tesco,Dave Lewis,Group CEO[133],2014,Previously with Unilever,2017-11-11,Dave_Lewis,https://en.wikipedia.org/wiki/Dave_Lewis,None,Dave Lewis,...,NaN,GBR - Other,Cheshunt,2,01/01/1919,1919-01,1919-Q1,1919.0,30/07/2009,15/07/2010
17,Twitter,Elon Musk,CEO[138],2021,Succeeded Jack Dorsey,2021-11-30,Elon_Musk,https://en.wikipedia.org/wiki/Elon_Musk,1971-06-28 00:00:00,Elon Musk,...,CA,SF Bay Area,San Francisco,8,21/03/2006,2006-03,2006-Q1,2006.0,01/07/2007,08/09/2011
18,Twitter,Elon Musk,CEO[138],2021,Succeeded Jack Dorsey,2021-11-30,Elon_Musk,https://en.wikipedia.org/wiki/Elon_Musk,1971-06-28 00:00:00,Elon Musk,...,CA,SF Bay Area,San Francisco,8,21/03/2006,2006-03,2006-Q1,2006.0,01/07/2007,08/09/2011
19,Verizon Communications,Hans Vestberg,Chairman and CEO[142],2018,Replaced Lowell McAdam,2019-03-31,Hans_Vestberg,https://en.wikipedia.org/wiki/Hans_Vestberg,1965-06-23 00:00:00,Hans Vestberg,...,NY,New York City,New York,5,07/10/1983,1983-10,1983-Q4,1983.0,26/01/2010,28/02/2014

# Lecture Module 3: Validating and Cleaning Data

How do we know our data is good?  We can create rules that trigger when the data fails some particular set of **constraints**.

In [40]:
# Test with validation rules

replace_item = ''

failed = False
for name in exec_df['clean_name']:
  if not name.replace(' ', replace_item).\
          replace('.', replace_item).\
          replace('\'',replace_item).\
          replace('-',replace_item).isalpha():
    print ("Illegal name %s"%name)
    failed = True
    
if failed:
  print('Found illegal names!')

Illegal name Ola K%C3%A4llenius
Illegal name B%C3%B6rje Ekholm
Illegal name Michael O%27Leary
Found illegal names!

## Data Cleaning: Fixing the Errors

One approach we could take is to realize that these are all strings in which accented characters are specially coded for use in (Wikipedia) URLs.  For instance, %C3 is a hex character code for an accented "u".  We can use a function called `unqote` to fix this...

In [41]:
from urllib.parse import unquote

exec_df['clean_name'].apply(unquote)

0               Julie Sweet
1      Kumar Mangalam Birla
2          Shantanu Narayen
3             Garo H. Armen
4           Guillaume Faury
               ...
168          Laura J. Alber
169       Stephanie McMahon
170              Greg Creed
171             Rich Barton
172               Eric Yuan
Name: clean_name, Length: 173, dtype: object

## More Generally: Data Validation Tools

Are there tools to help us validate data?  Of course!  We see an [example](https://validators.readthedocs.io/en/latest/) of one such tool, simply called `validators`, below.  There are many others in the data cleaning literature.

In [42]:
!pip install validators

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting validators
  Downloading validators-0.20.0.tar.gz (30 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: decorator>=3.4.0 in /usr/local/lib/python3.8/dist-packages (from validators) (4.4.2)
Building wheels for collected packages: validators
  Building wheel for validators (setup.py) ... done
  Created wheel for validators: filename=validators-0.20.0-py3-none-any.whl size=19581 sha256=ba25f10a5aa144b7f85110c1da47b16e8d8107e268ea04d251da65248dd203d5
  Stored in directory: /root/.cache/pip/wheels/19/09/72/3eb74d236bb48bd0f3c6c3c83e4e0c5bbfcbcad7c6c3539db8
Successfully built validators
Installing collected packages: validators
Successfully installed validators-0.20.0

In [43]:
import validators.url

# Are all of the URLs valid?
exec_df['page'].apply(validators.url)

0      True
1      True
2      True
3      True
4      True
       ...
168    True
169    True
170    True
171    True
172    True
Name: page, Length: 173, dtype: bool

## Validation against a master list

We can also compare against "master" lists (in tables).  For example, company info about stock ticker symbols can be compared against the full list of symbols; states and countries can be compared against definitive lists.

Suppose we want to confirm that `company_data_df` has valid country codes.

In [44]:
company_data_df[['name','country_code']]

                                name country_code
0                           #waywire          USA
1                 &TV Communications          USA
2                  'Rock' Your Paper          EST
3                  (In)Touch Network          GBR
4                         +n (PlusN)          USA
...                              ...          ...
47753                          Zzish          GBR
47754  ZZNode Science and Technology          CHN
47755          Zzzzapp Wireless ltd.          HRV
47756                  [a]list games          NaN
47757                          [x+1]          USA

[47758 rows x 2 columns]

TSome of these are NaNs -- let's drop them...

From someone's Github content, here's a nice list of all countries and region codes.

In [45]:
countries_df = pd.read_csv("https://raw.githubusercontent.com/lukes/ISO-3166-Countries-with-Regional-Codes/master/all/all.csv")

display(countries_df)

,name,alpha-2,alpha-3,country-code,iso_3166-2,region,sub-region,intermediate-region,region-code,sub-region-code,intermediate-region-code
0,Afghanistan,AF,AFG,4,ISO 3166-2:AF,Asia,Southern Asia,NaN,142.0,34.0,NaN
1,Åland Islands,AX,ALA,248,ISO 3166-2:AX,Europe,Northern Europe,NaN,150.0,154.0,NaN
2,Albania,AL,ALB,8,ISO 3166-2:AL,Europe,Southern Europe,NaN,150.0,39.0,NaN
3,Algeria,DZ,DZA,12,ISO 3166-2:DZ,Africa,Northern Africa,NaN,2.0,15.0,NaN
4,American Samoa,AS,ASM,16,ISO 3166-2:AS,Oceania,Polynesia,NaN,9.0,61.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...
244,Wallis and Futuna,WF,WLF,876,ISO 3166-2:WF,Oceania,Polynesia,NaN,9.0,61.0,NaN
245,Western Sahara,EH,ESH,732,ISO 3166-2:EH,Africa,Northern Africa,NaN,2.0,15.0,NaN
246,Yemen,YE,YEM,887,ISO 3166-2:YE,Asia,Western Asia,NaN,142.0,145.0,NaN
247,Zambia,ZM,ZMB,894,ISO 3166-2:ZM,Africa,Sub-Saharan Africa,Eastern Africa,2.0,202.0,14.0
248,Zimbabwe,ZW,ZWE,716,ISO 3166-2:ZW,Africa,Sub-Saharan Africa,Eastern Africa,2.0,202.0,14.0

In [46]:
validated = company_data_df.merge(countries_df, left_on=['country_code'], right_on=['alpha-3'],
                      how='left', indicator=True)

validated[validated['_merge'] != 'both']

,permalink,name_x,homepage_url,category_list,market,funding_total_usd,status,country_code,state_code,region_x,...,alpha-3,country-code,iso_3166-2,region_y,sub-region,intermediate-region,region-code,sub-region-code,intermediate-region-code,_merge
8,/organization/0-6-com,0-6.com,http://www.0-6.com,|Curated Web|,Curated Web,2 000 000,operating,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
19,/organization/1000-markets,1000 Markets,http://www.1000markets.com,|Marketplaces|Art|E-Commerce|,Marketplaces,500 000,acquired,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
25,/organization/100du-tv,100du.tv,http://www.100du.com,|Hospitality|,Hospitality,3 000 000,operating,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
30,/organization/10sec,10sec,http://10s.ec/,|Social Commerce|E-Commerce|Mobile Commerce|,Mobile Commerce,1 600 000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
35,/organization/115-network-disks,115 network disks,http://www.115.com/,|Education|,Education,-,operating,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47707,/organization/zura,Zura!,http://www.zura.com.br,|E-Commerce|,E-Commerce,-,operating,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
47712,/organization/zursh-2,Zursh,http://www.zursh.com/,NaN,NaN,25 000,operating,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
47729,/organization/zwoor-com,zwoor.com,http://www.zwoor.com,|Meeting Software|Polling|Surveys|Android|iPhone|iPad|Events|Mobile|,Polling,100 000,operating,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
47743,/organization/zympi,Zympi,http://www.zympi.com,|Networking|Web Hosting|Mobile|,Web Hosting,-,operating,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
47756,/organization/a-list-games,[a]list games,http://www.alistgames.com,|Games|,Games,9 300 000,operating,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only

## Record Linking: Working around the Errors

Rather than figuring out how to clean these characters, we'll instead look at doing approximate matching.

Now we'll need to import some similarity matching code, to do approximate match between the original names and those returned by Wikipedia

In [47]:
# We are going to match the strings approximately, via "n-grams" or "q-grams" (sequences of n or q characters)
# Here it's five-grams

tok = sm.QgramTokenizer(qval=5,return_set=True)

In [48]:
# Now let's do a similarity join

# We'll reset the index, so there is a unique index field in the company_ceos_df dataframe
company_ceos_df.reset_index(inplace=True)

output_pairs = ssj.jaccard_join(company_ceos_df, exec_df, 'index', 'page', 'Executive', 'clean_name', tok, 0.35, 
                                l_out_attrs=['Executive'], r_out_attrs=['name'])

output_pairs[output_pairs['_sim_score'] < 1.0]

AssertionError: ignored

In [ ]:
# At last! Company info + CEO info, together!

total = company_ceos_df.merge(output_pairs,left_on=['Executive'],right_on=['l_Executive']).\
        merge(exec_df,left_on=['r_page'],right_on=['page']).\
        merge(company_data_df, left_on='Company', right_on='name', how="left")

total

In [ ]:
# Let's get ready to plot

%matplotlib inline

In [ ]:
total

## Simple Analysis of Linked Data: Grouping and Analytics

The `groupby` command allows us to coalesce data by groups.  In Pandas a Group is a special object with a set of rows.  We can see this with the `get_group` command.

In [ ]:
total[['born','Company','Executive']].sort_values('born')

In [ ]:
total.groupby(by='born').get_group(datetime.datetime.strptime('1945-08-24', '%Y-%m-%d'))[['Company','Executive','born']]

We can apply computations, such as `count`, to the items in the group.  Values that are empty (NaN) do not count (no pun intended).

In [ ]:
total.groupby(by='born').count()

In [ ]:
# We can do this in SQL too...

total.to_sql('total_info', conn, if_exists='replace', index=False)

# By default, SQL will include the Nan value (called NULL in SQL).  If we want to exclude it, 
# we need to include WHERE ... IS NOT NULL.

pd.read_sql('select born, count(Company) from total_info ' +\
            'where born is not null group by born', conn)

In [ ]:
# Let's look at when the CEOs were born

birthdays = total.groupby(by='born').count()[['Executive']]

birthdays

We can actually use `resample` over dates, with a parameter, to group eg by decade (10 years, where A is the code for year):

In [ ]:
birthdays.resample('10A').count().plot(kind='bar')

Maybe that's a little weird.  Can we do something more along the lines of what we expect, i.e., "1920s, 1930s, ..."?

In [ ]:
# Get rid of the nulls!
bdays = total[['born']].dropna()

bdays = bdays.applymap(lambda bday: str(int(bday.year / 10) * 10) + 's')

bdays.reset_index().groupby('born').count().plot(kind='bar')

# An Exercise

Is there a correlation between the kind of company and the age of the CEO?

Does the company's line of business matter?