<a href="https://colab.research.google.com/github/MarinaWolters/Coding-Tracker/blob/master/W4_ParallelProcessing_Dask.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Part 2 - Parallel Processing

Let's explore how we can use *parallelism*, both locally and on a cluster, to scale up big data.

We'll start by looking at supporting multiple cores...

## 1.1 Parallel dataframe processing with Dask

The Dask library implements a subset of the Pandas API (and some others, such as Numpy) in a way that can run in multiple CPU threads (and thus on multiple cores).  It also supports certain cluster-based computations, although that won't be our focus.

Let's start by installing Dask...

In [1]:
!pip install dask[complete]

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: dask[complete] in /usr/local/lib/python3.9/dist-packages (2022.2.1)
Requirement already satisfied: fsspec>=0.6.0 in /usr/local/lib/python3.9/dist-packages (from dask[complete]) (2023.3.0)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.9/dist-packages (from dask[complete]) (23.0)
Requirement already satisfied: toolz>=0.8.2 in /usr/local/lib/python3.9/dist-packages (from dask[complete]) (0.12.0)
Requirement already satisfied: cloudpickle>=1.1.1 in /usr/local/lib/python3.9/dist-packages (from dask[complete]) (2.2.1)
Requirement already satisfied: pyyaml>=5.3.1 in /usr/local/lib/python3.9/dist-packages (from dask[complete]) (6.0)
Requirement already satisfied: partd>=0.3.10 in /usr/local/lib/python3.9/dist-packages (from dask[complete]) (1.3.0)
Requirement already satisfied: distributed==2022.02.1 in /usr/local/lib/python3.9/dist-packages (from dask[complete]) (2022.2.1)
Requirement already satisfied: bokeh>=2.1.1 in /usr/local/lib/python3.9/dist-packages (from dask[complete]) (2.4.3)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.9/dist-packages (from dask[complete]) (3.1.2)
Requirement already satisfied: pandas>=1.0 in /usr/local/lib/python3.9/dist-packages (from dask[complete]) (1.3.5)
Requirement already satisfied: numpy>=1.18 in /usr/local/lib/python3.9/dist-packages (from dask[complete]) (1.22.4)
Requirement already satisfied: tornado>=6.0.3 in /usr/local/lib/python3.9/dist-packages (from distributed==2022.02.1->dask[complete]) (6.2)
Requirement already satisfied: click>=6.6 in /usr/local/lib/python3.9/dist-packages (from distributed==2022.02.1->dask[complete]) (8.1.3)
Requirement already satisfied: tblib>=1.6.0 in /usr/local/lib/python3.9/dist-packages (from distributed==2022.02.1->dask[complete]) (1.7.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.9/dist-packages (from distributed==2022.02.1->dask[complete]) (57.4.0)
Requirement already satisfied: psutil>=5.0 in /usr/local/lib/python3.9/dist-packages (from distributed==2022.02.1->dask[complete]) (5.4.8)
Requirement already satisfied: zict>=0.1.3 in /usr/local/lib/python3.9/dist-packages (from distributed==2022.02.1->dask[complete]) (2.2.0)
Requirement already satisfied: msgpack>=0.6.0 in /usr/local/lib/python3.9/dist-packages (from distributed==2022.02.1->dask[complete]) (1.0.4)
Requirement already satisfied: sortedcontainers!=2.0.0,!=2.0.1 in /usr/local/lib/python3.9/dist-packages (from distributed==2022.02.1->dask[complete]) (2.4.0)
Requirement already satisfied: pillow>=7.1.0 in /usr/local/lib/python3.9/dist-packages (from bokeh>=2.1.1->dask[complete]) (8.4.0)
Requirement already satisfied: typing-extensions>=3.10.0 in /usr/local/lib/python3.9/dist-packages (from bokeh>=2.1.1->dask[complete]) (4.5.0)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.9/dist-packages (from jinja2->dask[complete]) (2.1.2)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.9/dist-packages (from pandas>=1.0->dask[complete]) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.9/dist-packages (from pandas>=1.0->dask[complete]) (2022.7.1)
Requirement already satisfied: locket in /usr/local/lib/python3.9/dist-packages (from partd>=0.3.10->dask[complete]) (1.0.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.9/dist-packages (from python-dateutil>=2.7.3->pandas>=1.0->dask[complete]) (1.15.0)
Requirement already satisfied: heapdict in /usr/local/lib/python3.9/dist-packages (from zict>=0.1.3->distributed==2022.02.1->dask[complete]) (1.0.1)

In [2]:
import pandas as pd
import numpy as np

# JSON parsing
import json

import dask
import dask.dataframe as dd

# HTML parsing
from lxml import etree
import urllib

# SQLite RDBMS
import sqlite3

# Time conversions
import time

# NoSQL DB
from pymongo import MongoClient
from pymongo.errors import DuplicateKeyError, OperationFailure

In [3]:
from google_drive_downloader import GoogleDriveDownloader as gdd

gdd.download_file_from_google_drive(file_id='1CtSFvqTM-JTxWu7-lfGYba1tLYkcqIZC',
                                    dest_path='/content/linkedin_small.json.txt')

Downloading 1CtSFvqTM-JTxWu7-lfGYba1tLYkcqIZC into /content/linkedin_small.json.txt... Done.

In [4]:
%%time
# 100K records from linkedin
linked_in = open('/content/linkedin_small.json.txt')
    
people = []

for line in linked_in:
    person = json.loads(line)
    people.append(person)
    
people_df = pd.DataFrame(people)
print ("%d records"%len(people_df))

people_df

JSONDecodeError: ignored

In [ ]:
people_df

                           _id  ...                                          honors
0                  in-00000001  ...                                             NaN
1                     in-00001  ...                                             NaN
2                     in-00006  ...                                             NaN
3             in-000montgomery  ...                                             NaN
4           in-000vijaychauhan  ...                                             NaN
...                        ...  ...                                             ...
99995      in-dorothyballarini  ...                                             NaN
99996  in-dorothybarnettgrimes  ...  [Certified Public Accountant - State of Texas]
99997        in-dorothycarroll  ...                                             NaN
99998       in-dorothyczudziak  ...                                             NaN
99999         in-dorothydalton  ...                                             NaN

[100000 rows x 18 columns]

In [ ]:
skills_df = people_df[['_id','skills']].explode('skills')
education_df = people_df[['_id','education']].explode('education')
experience_df = people_df[['_id','experience']]
honors_df = people_df[['_id', 'honors']]

linkedin_df = people_df.copy().drop(columns=['skills','education','experience','honors'])

In [ ]:
linkedin_df

                           _id  ...                                           homepage
0                  in-00000001  ...                                                NaN
1                     in-00001  ...                                                NaN
2                     in-00006  ...  {'BIOMOD': ['http://biomod.net/'], 'Company We...
3             in-000montgomery  ...                                                NaN
4           in-000vijaychauhan  ...                                                NaN
...                        ...  ...                                                ...
99995      in-dorothyballarini  ...                                                NaN
99996  in-dorothybarnettgrimes  ...                                                NaN
99997        in-dorothycarroll  ...                                                NaN
99998       in-dorothyczudziak  ...                                                NaN
99999         in-dorothydalton  ...                                                NaN

[100000 rows x 14 columns]

In [ ]:
%%time

linkedin_df.merge(experience_df, on='_id').merge(skills_df, on='_id').merge(honors_df, on='_id').merge(education_df, on='_id')

CPU times: user 2.99 s, sys: 281 ms, total: 3.28 s
Wall time: 3.3 s

                      _id  ... education
0             in-00000001  ...       NaN
1             in-00000001  ...       NaN
2             in-00000001  ...       NaN
3             in-00000001  ...       NaN
4             in-00000001  ...       NaN
...                   ...  ...       ...
2340598  in-dorothydalton  ...       NaN
2340599  in-dorothydalton  ...       NaN
2340600  in-dorothydalton  ...       NaN
2340601  in-dorothydalton  ...       NaN
2340602  in-dorothydalton  ...       NaN

[2340603 rows x 18 columns]

In [ ]:
linkedin_ddf = dd.from_pandas(linkedin_df,npartitions=100)
skills_ddf = dd.from_pandas(skills_df,npartitions=100)
experience_ddf = dd.from_pandas(experience_df,npartitions=100)
education_ddf = dd.from_pandas(education_df,npartitions=100)
honors_ddf = dd.from_pandas(honors_df, npartitions=10)

In [ ]:
%%time
linkedin_ddf.merge(experience_ddf, on='_id').merge(skills_ddf, on='_id').merge(honors_ddf, on='_id').merge(education_ddf, on='_id')

CPU times: user 162 ms, sys: 3.8 ms, total: 166 ms
Wall time: 187 ms

Dask DataFrame Structure:
                    _id    name locality industry summary     url also_view   group overview_html interval specilities  events interests homepage experience  skills  honors education
npartitions=100
                 object  object   object   object  object  object    object  object        object  float64      object  object    object   object     object  object  object    object
                    ...     ...      ...      ...     ...     ...       ...     ...           ...      ...         ...     ...       ...      ...        ...     ...     ...       ...
...                 ...     ...      ...      ...     ...     ...       ...     ...           ...      ...         ...     ...       ...      ...        ...     ...     ...       ...
                    ...     ...      ...      ...     ...     ...       ...     ...           ...      ...         ...     ...       ...      ...        ...     ...     ...       ...
                    ...     ...      ...      ...     ...     ...       ...     ...           ...      ...         ...     ...       ...      ...        ...     ...     ...       ...
Dask Name: hash-join, 5266 tasks